body {
    font-family : Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
    margin      : 0;
    font-size   : 1vw;
}

a {
    text-decoration : none;
    color           : black;
}

label {
    font-weight   : bold;
    display       : block;
    clear         : both;
    margin-bottom : 0.4vw;
    margin-top: 1vw;
}

.clear {
    clear : both;
}

#footer {
}

#form {
    float: right;
    width: 70%;
    border-left: 1px dotted #749b00;
    padding-left: 3%;
}

.progress {
    margin-bottom : 0;
    padding       : 0;
}

.control-group, .controls {
    margin-bottom : 1vw;
    clear         : both;
}

.col-md-4 {
    text-align  : center;
    font-weight : bolder;
}

.progress-bar-striped {
    min-width : 2em;
}

.thank-you {
    text-align  : center;
    /*font-family: cursive;*/
    font-size: x-large;
    color: #99B543;
    /*font-weight: lighter;*/
}

.print {
    background      : url(../img/print.png) no-repeat;
    padding-left    : 2vw !important;
    padding-bottom  : 0.4vw !important;
    background-size : 2em;
    margin: 1vw;
}

.export-pdf {
    /*background      : url(../img/pdf.png) no-repeat 0 0.2vw;*/
    /*padding-left    : 2vw !important;*/
    padding-top  : 0.4vw !important;
    padding-bottom  : 0.2vw !important;
    background-size : 2vw;
}

.export-pdf a {
    color : #003399 !important;
    font-weight : bold;
    
}

.export-pdf {
    margin-top : 20px;
}

.center {
    text-align : center;
}

/**********************/
input[type=text], select, textarea {
    border : 1px solid #003399;
    color  : #003399;
}

input[type=submit], button {
    border           : none;
    background-color : #003399;
    color            : #ffffff;
    padding          : 0.2vw 0.5vw 0.2vw 0.5vw;
    font-size        : 1vw;
}

.save_image {
    float : right;
}

input[type=text], select {
    padding : 2px;
    width   : 100%;
}

input[type=radio] {
    width  : 1.5vw;
    height : 1.5vw;
}

textarea {
    padding : 1px;
    width   : 100%;
    height  : 100px;
}
/*TxtArea exceptions*/
#company_osh_yourmissionstatement{
    height  : 175px;
}
#company_osh_quoteonhwc{
    height  : 175px;
}
#involvement_osh_promoteandsupportcampaign{
    height  : 150px;
}

fieldset {
    border         : none;
/*    border-bottom  : 0.2vw dotted #c1e000;*/
    padding-bottom : 2vw;
    margin-bottom  : 3vw;
}

legend {
    font-weight   : normal !important;
    font-size     : 1.5vw;
    color         : #749b00;
    font-style    : italic;
    margin-bottom : 0.5vw;
}

select[disabled] {
    background-color : #e3e3e4;
}

.imageBox {
    width : 100% !important;
}

.control-group {
    margin-bottom : 5vw;
}

.float-left {
    float        : left;
    width        : 45%;
    margin-right : 20px;
}

.float-right {
    float : right;
    width : 45%;
    margin-right: 4%;
}

.repeatable-section {
    margin-bottom  : 50px;
    padding-bottom : 40px;
    border-bottom  : 0.1vw solid #749b00;
}

.controls {
    float : left;
    width : 100%;
}

.validation {
    float           : right;
/*    width           : 1.2vw;
    height          : 1.2vw;*/
    width           : 18px;
    height          : 18px;
    cursor          : pointer;
    margin-left     : 1vw;
    margin-top      : 0.5vw;
    background      : url(../img/validation-NoCheck.png);
    /*background-size : 1.2vw;*/
}

.validation-pressed {
    background      : url(../img/validation-check.png);
/*    background-position-x: -0.3vw;*/
}

.div-checkbox {
    width : 20%;
}

#sidebar {
    /* font-size: 1.1vw;  Viewport 'vw' units*/
}

#sidebar-top {
    padding-left : 1vw;
}

.nav-side-menu .separator {
    border-bottom : 1px dotted #749b00;
    margin-bottom : 1.5vw;
}

.separatorFieldSet{
    border-bottom : 0.3vw solid #749b00;
    margin-bottom: 1.5vw;
    margin-top: -2vw;
}
.lessSeparator{
    margin-top: -0.5vw;
}

#sidebar-bottom {
    margin-top    : 3vw;
    margin-bottom : 1vw;
}

#sidebar-top .section-title {
    margin-top    : 1.2vw;
    margin-bottom : 0.5vw;
}

#sidebar-top .section-title a {
    color       : black;
    font-size   : 1vw !important;
    font-weight : bold;
}

#sidebar-top .section {
    background      : url(../img/green-tick.png) no-repeat 0 0.2vw;
    padding-left    : 2vw;
    /*(CRG - #5 - Making compatible with IE9)*/
    /*background-size : 1.5vw;*/
    background-size: 12.5px;
    /*(/CRG - #5 - Making compatible with IE9)*/
}

#sidebar-top .sidebar-error {
    background      : url(../img/red-cross.png) no-repeat;
    padding-left    : 2vw !important;
    padding-top     : 0 !important;
    padding-bottom  : 0.4vw !important;
    /*(CRG - #5 - Making compatible with IE9)*/
    /*background-size : 1.5vw;*/
    background-size : 12.5px;
    /*(/CRG - #5 - Making compatible with IE9)*/
    margin-top      : 0.5vw !important;
}

.tituloSidebar{
    color: black;
    text-decoration: underline;
}

#progressbar .row {
    margin-left  : 0;
    margin-right : 0;
    width: 70%;
    float: right;
}

.progressbar-text {
    background-repeat : no-repeat;
    background-size   : 100%;
    width             : 33%;
    float             : left;
    line-height       : 350%;
    color             : #ffffff;
    margin-bottom     : 2vw;
}

.progressbar-text-a {
    color             : #ffffff;
    text-decoration: none;
}
.progressbar-text-a:hover{
    color             : #ffffff;
    text-decoration: underline;
}
.progressbar-text-a:visited{
    color             : #ffffff;
    text-decoration:none;
}

.progressbar-text {
    background-image : url(../img/blue-section.png);
}

.progressbar-active {
    background-image : url(../img/green-section.png);
}

.progressbar-first {
    background-image : url(../img/blue-section-first.png);
}

.progressbar-first-active {
    background-image : url(../img/green-section-first.png);
}

.progressbar-last {
    background-image : url(../img/blue-section-last.png);
}

.progressbar-last-active {
    background-image : url(../img/green-section-last.png);
}

.review-fields {
    background-color : #e3e3e4;
    padding          : 30px 120px;
    text-align       : center;
    font-weight      : bold;
    color            : #1e47a6;
}

.action {
    width : 100%;
}

#next {
    margin-left : 0.8vw;
    background: url(../img/nextButton.png) no-repeat;
    background-size: 100%;
}
#nextInLocked {
    margin-left : 0.8vw;
    background: url(../img/nextButton.png) no-repeat;
    background-size: 100%;
}

#menu-content li a {
    font-size : 0.8vw;
}

#general-text {
    display : inline-block;
}

.screen-left {
    float : left;
}

.screen-right {
        /* float: right; */
    width: 1vw;
    height: auto;
    margin-left: 4%;
    margin-top: 1vw;
}

form.new .validation, form.mf .validation {
    display : none;
}

.fields-campaign {
    font-size : 0.8vw;
    width     : 16vw;
    margin-top: 1vw !important;
}

.screen {
    background      : url(../img/screen.png) no-repeat;
    background-size : 1vw;
    width           : 1vw;
    display         : block;
    float           : right;
    height          : 1vw;
}

.help-block {
    clear : both;
    font-size: smaller;
}

#SocialNetHidden *{
    margin-bottom: 17px;
    height:0px;
    
}

.required input,
.required textarea, .required select,
.select2-container--default,
.select2-selection--multiple {
    /*(CRG - #68 - 15.10.2015)*/
    /*border-color : red;*/
    /*(/CRG - #68 - 15.10.2015)*/
}

::-webkit-input-placeholder {
    color : #749b00;
    font-size: smaller;
}

:-moz-placeholder { /* Firefox 18- */
    color : #749b00;
    font-size: smaller;
}

::-moz-placeholder { /* Firefox 19+ */
    color : #749b00;
    font-size: smaller;
}

:-ms-input-placeholder {
    color : #749b00;
    font-size: smaller;
}

.print-finish {
    margin-top : 3vw;
    text-align : center;
}

.print-finish div {
    margin-bottom : 1vw;
}
/*Modificación para que en tablets en posición horizontal tengan la misma 
visualización que en un dispositivo móvil*/
/*@media (max-width : 767px) {*/
@media (max-width : 1024px) {
    .float-left, .float-right {
        float : none;
        width : 100%;
    }

    #form {
        float       : none;
        width       : 100%;
        margin-left : 0;
    }

    .nav-side-menu {
        float : none;
    }
}

@media only screen and (max-width : 480px) {
    body {
        font-size : 3vw;
    }

    input[type=submit], button {
        font-size : 3vw;
    }

    legend {
        font-size : 5vw;
    }

    #sidebar-top .section-title a {
        font-size : 4vw !important;
    }

    #menu-content li a {
        font-size : 3vw;
    }

    .nav-side-menu {
        margin-bottom : 10vw !important;
    }

    .progressbar-text {
        line-height : 5vw;
        font-size   : 2vw;
    }

    .error-msg {
        font-size : 2vw;
    }

    .required-fields-box {
        font-size : 2vw;
        width     : 15vw;
    }

    .fields-campaign {
        font-size : 2vw;
        width     : 35vw;
    }

    .print, .export-pdf, #sidebar-top .section, #sidebar-top .sidebar-error {
        background-size     : 3vw;
        padding-left        : 5vw;
        background-position : 0 1vw;
    }

    .screen, .screen-right {
        width           : 3vw;
        height          : 3vw;
        background-size : 3vw;
    }

    .print, .export-pdf {
        padding-left : 5vw !important;
    }

    input[type=radio] {
        width  : 3vw;
        height : 3vw;
    }
}

.div_disclaimer {
    border-color : red;
}

.requiredAsterisk{
    color: red;
    display: inline-block;
    font-weight: 800;
    font-size: 2vw;
    margin-top: -1vw;
    font-family: sans-serif;
}
#a_disclaimer {
    cursor : pointer;
}

/*input.error {
    border : 0.2vw solid red !important;
}
textarea.error {
    border : 0.2vw solid red !important;
}*/

.error-msg, .sidebar-error {
    color       : red;
    /*font-weight : bold;*/
    font-size   : 0.8vw;
    padding     : 0 1.5vw 0 !important;
    margin      : 0.5vw 0 0 !important;
}

.div_disclaimer {
    padding : 20px;
}

.hidden {
    display : none;
}

.main-contact-change-backup {
    display : none;
}
.mainContactCheck label{
    display: inline;
    margin-left: 1%;
    font-size: larger;
}
#contact_osh_maincontactchange{
    margin-top: 2%;
}

.mfp-content {
    background : #ffffff none repeat scroll 0 0;
    margin     : 20px auto;
    max-width  : 600px;
    padding    : 2em 3em;
    position: fixed;
    width: auto;
    left: 30%;
}

.profiles > input {
    margin-top    : 0.5vw;
    margin-bottom : 1vw;
}

.popup-modal {
    margin-top : 10px;
}

.combined-textbox {
    width: 80% !important;
    margin-left: 2vw;
    /*height: 33px;*/
    height: 1%;
}
label[for="company_osh_facebookprofile"],
#company_osh_facebookprofile,
label[for="company_osh_pinterestprofile"],
#company_osh_pinterestprofile,
label[for="company_osh_googleplusprofile"],
#company_osh_googleplusprofile,
label[for="company_osh_twitterprofile"],
#company_osh_twitterprofile,
label[for="company_osh_youtubeprofile"],
#company_osh_youtubeprofile,
label[for="company_osh_linkedinprofile"],
#company_osh_linkedinprofile,
label[for="company_osh_slideshareprofile"],
#company_osh_slideshareprofile{
	display:none !important;
}
button#plusSN{
	background-color: white;
        margin-left: 3.2em;
}
button#plusSN span{
	 color: #003399;
}

   
button#plusSN img{
	width: 25px;
}

button#delSN{
	background-color: white;
}

button.delSN img{
/* 	width: 23px; */
	margin-left: 5px;
/*     margin-top: -5px; */
    width: 15px;
    margin-top: -2px;
}


select.company_osh_selectsocialnetworks{
	width: auto;
	float:left;
        margin-top: 0.3em;
        
        /*height: 24px;*/
}
input#socialNetworkTextBox{
    width: 130%;
    vertical-align:middle;
}
.socialNetworks #SocialNetHidden{
    display: none;
}


div.typeSN{
	font-weight: bold;
	color: #003399;
	font-size: 9pt;
	float:left;
}
div.titleSN{
 	font-size: 9pt; 
	color: #003399;
	/*font-size: 7pt;*/
}

div.required > div label::after{
    content: " *";
    color: red;
    font-size: 2vw;
}


#MESSAGE{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(211, 211, 211, 0.79);
    text-align: center;
    color: darkblue;
    font-weight: bold;
    margin-bottom: 38px;
    margin-right: 14px;
    position: fixed;
    width: 66%;
}
div.container-message{
    height: 75px;
}
/*No mostrar el mensaje de ayuda para New Forms ni mf´s*/
form.new div.container-message, form.mf div.container-message {
    display : none;
}
.close{
    float: right;
    margin-right: 1%;
    color: darkblue;
    margin-top: -3%;
}

.postRequired input:not(.select2-search__field),.postRequired textarea, .postRequired select, .postRequired .select2-selection--multiple{
    border: 1px red solid !important;
    background-color:#FEF5F1;
}

.required input:not(.select2-search__field),.required textarea, .required select,.select2.select2-container{
    border: 1px #003399 solid;
    /*background-color:#FEF5F1;*/
}


/*(CRG - #173 - 02.11.2015)*/
form div.controls:last-of-type{
    /*margin: 0 2%;*/
}
input[type="submit"]{
    width: 98%;
    padding: 14px 0px;
    font-weight: bold;
    font-size: initial;
    
}
/*(/CRG - #173 - 02.11.2015)*/
a.button {
    /*-webkit-appearance: button;*/
    color: white;
    background-color: #003399;
    font-weight: bold;
    font-size: x-large;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 250px;
    padding-right: 250px;
    margin-top: 14px;
}
a.congrats2 {
    color: #010188;
    font-weight: bold;
}
p.congrats {
    text-align: center;
    margin-left: 70px;
    margin-right: 70px;
}
.promoteText label{
    /*font-size: 15px;*/
    font-weight: bold;
}
#promoteText{
    margin-top: -5vw;
    }
.promoteText2 {
    /*margin-top: 156px;*/
    /*font-size: 15px;*/
    font-weight: bold;
    display: -moz-box;
}
.promoteText3 {
margin-top: -10px;
}
.dialog{
    height: auto;
    background-color: #F2F2F2;
    border: 1px solid red;
    position: relative;
    margin-bottom: 1%;
    left: 2%;
    width: 95%;
}
.dialog img{
    margin-top: 0.5vw;
    height: auto;
    width: 3vw;
    margin-left: 45%;
}
.dialog p{
    color: red;
    font-weight: bold;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}
.dialog a{
    color: red;
    font-weight: bold;
    float: right;
    font-size: large;
    margin-right: 1%;
}
.saveDialog{
    /*position: fixed;*/
    //Fixed not works into the iframe
    position: absolute;
    left: 40%;
    /*top: 40%;*/
    top: 5%;
    background-color: #F2F2F2;
    border: 1px solid red;
    height: auto;
}
.saveDialog img{
    margin-top: 0.5vw;
    height: auto;
    width: 2vw;
    margin-left: 45%;
}
.saveDialog a{
    color: black;
    float: right;
    font-size: large;
    margin-right: 1%;
}
.saveDialog p{
    color: black;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    text-align: center;
}
.upArrow{
    position: fixed;
    bottom: 1vw;
    top: 90%;
    margin-left: 24%;
    
}
.inline {
    display: initial;
    margin-right: 10%;
}
.marginRightForm{
    margin-right: 4%;
}
.saveExplanation{
    font-size: smaller;
}
.saveExplanationSave{
    font-size: xx-small;
}