button,
input[type=submit],
input[type=file],
#progressbar,
#sidebar,
.help-block,
.repeatable-button,
.captcha,
.validation {
    display: none !important;
}
input[type=text], select, textarea {
    border: none !important;
    padding: 0 !important;
    background-color: transparent !important;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 0.1vw;
    text-overflow: '';
}
textarea {
    height: auto !important;
}
.sidebar-border {
    border: none !important;
}

.image-printable {
    margin-top    : 0.5vw;
    margin-bottom : 0.5vw;
}