/* Menu dropdown */
ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}
ul.nav li.dropdown ul.dropdown-menu {
    margin-top: 0;
}

#block-search-form .input-group { width: 250px; }
#block-search-form input { width: 200px; }

div.workbench-info-block {
  clear:both;
}

/* Sliders styling */

/* jssor slider bullet navigator skin 12 css */
.jssorb12 { bottom: 16px; right: 6px; position: absolute; }
.jssorb12 div, .jssorb12 div:hover, .jssorb12 .av {
  position: absolute;
  /* size of bullet elment */
  width: 16px;
  height: 16px;
  background: url(sites/all/libraries/jquery-slider-master/img/b12.png) no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb12 div { background-position: -7px -7px; }
.jssorb12 div:hover, .jssorb12 .av:hover { background-position: -37px -7px; }
.jssorb12 .av { background-position: -67px -7px; }
.jssorb12 .dn, .jssorb12 .dn:hover { background-position: -97px -7px; }

#homepage_slider,
#publications_slideshow { position: relative; top: 0; left: 0; width: 1138px; height: 230px; overflow: hidden; }

#homepage_slider #num_slides { cursor: move; position: absolute; top: 0; width: 1138px; height: 160px; overflow: hidden; }

.jssorb03 { position: absolute; bottom: 4px; right: 6px; }
.jssora03l { width: 55px; height: 55px; top: 115px; left: 8px; }
.jssora03r { width: 55px; height: 55px; top: 115px; right: 8px }
#publications_slideshow #num_slides { cursor: move; position: absolute; left: 1em; top: 1px; width: 1138px; height: 230px; overflow: hidden; }
#publications_slideshow .prototype { position: absolute; width: 21px; height: 21px; text-align:center; line-height:21px; color:white; font-size:12px; }

.navbar-header {
    width: 100%;
}
#block-lang-dropdown-language {
    width: auto !important;
    float: right;
    margin: 5px;
}
#lang_dropdown_select_language_chosen {
    width: 150px !important;
    height: auto !important;
    border: none;
    padding: 0;
    margin: 5px 0;
}
#search-block-form {
    float: right;
    width: auto !important;
    margin: 5px;
}
#block-menu-block-3 .menu-block-3 .introduction-title {
    display: none;
}
