/*
 * Use 3 grid columns for smaller screens.
 */

@media screen
and (max-width: 1006px) {

body {
    background: none repeat scroll 0 0 #FFFFFF!important;	
}

#page{
	clear:both;
	max-width: 100%;
}



/* HEADER */
#socialNetworksBlue{
	display:none;
}

#languagesAndSearch{
	display:block;
	float: none;
	margin-right: 0;
	text-align: center;
	width: auto;
}


#agencyLogo{
	display:none;
}

#europeLogo{
	display:none;
}

#lang-dropdown-select-language_content {
    float: left !important;
    margin-bottom: 1em;
    margin-left: 1em !important;
    margin-right: 0 !important;
    margin-top: -1em !important;
}

#block-search-form {
	clear: both;
    float: left !important;
    margin-left: 1em;
    margin-top: -0.5em !important;
}

.form-item.form-type-select.form-item-lang-dropdown-select {
	margin-top: 2em!important;
}

#languagesAndSearch img {
    left: 14em;
    margin-top: 1em!important;
    position: absolute;
    vertical-align: middle;
 }

/* END HEADER */


/* ---------------  */
/* RESPONSIVE MENU  */
/* ---------------  */
.mean-container .mean-bar {
	float:none;
	background: url("../images/agencyLogoMobile.png") no-repeat scroll 97% 30% #fff;
	padding: 1em 0 1em 0;
	margin-top: 0.5em;
	/*border-bottom: 3px solid #003399;*/
	width: auto;
}

.mean-container a.meanmenu-reveal {
	width:30px;
	left:0em!important;
}

.mean-container a.meanmenu-reveal span {
	background:#003399;
	margin-bottom: 5px;
}

.meanmenu-reveal.meanclose {
	color:#003399!important;
}

.mean-container .mean-nav  {	
	color:#57575A;
	background: #FFF;
	font-size: 150%;
}
.mean-container .mean-nav ul:first-child {
	background-color: #EDF1F8;
	border-top: 7px solid #039;
	color: #CCC;
	margin-top: .7em;
	margin-left: 0px;
	margin-bottom: 1em;	
	padding-bottom: 1.2em;	
}

.mean-container .mean-nav a { 
	color:#57575a!important;
	padding:0!important;	
	text-transform: none!important;
}

.mean-container .mean-nav ul li a {
	border-top: 0px!important;
}
/* 1st level options */
.mean-container .mean-nav ul li {	
	clear: both;
	float: none;
	padding: 1em;
	width: auto;
}

/* Expand icon */
.mean-container .mean-nav ul li a.mean-expand {
	color:#dc2f82!important;
	border:0px!important;
	left: inherit;
	right: 1em;
	height: 26px;
	font-size: 1.2em!important;
	margin-top: 0.2em;
}
/* Expand icon Over */
.mean-container .mean-nav ul li a.mean-expand:hover {
	 background: none repeat scroll 0 0 transparent;
	 border:0px!important;
}
/* 2nd level options */
.mean-container .mean-nav ul li ul li {
	background: url("../images/li_arrow.png") no-repeat 1em 1.25em;
	font-size: 95%;
	padding: 1em 1em 1em 2em;
}

/* Expand icon */
.mean-container .mean-nav ul li ul a.mean-expand {
	margin-top:0em;
	color: #dc2f82 !important;
	top: 0.25em!important;
}
/* 3th level options */
.mean-container .mean-nav ul li ul li  ul li {
	background: url("../images/li_arrow.png") no-repeat 0% 0.35em;
	display: inline-block;
	font-size: 90%;
	margin-left: 1.5em;
	padding: 0em 1em 1em 1em;
	width: 90%;
}
/* First option takes different position */
.mean-container .mean-nav ul li ul li  ul li:first-child {
	padding-top: 1em!important;
	background-position: 0% 1.3em;
}
.mean-container .mean-nav ul li li a {
    color: #003399 !important;    
    padding:0;
    width: 80%;
	border:0px;	
	text-transform: none;
}
/* END RESPONSIVE MENU */

/* ------------- */
/* CUSTOM STYLES */
/* ------------- */

/* ---- */
/* HOME */
/* ---- */

/* Left column */
.mean-container .left_column {
	float: none;
	width: 100%;
	font-size: 125%;
}

/* Language & Search form */
.mean-container #block-search-form , 
.mean-container #block-lang-dropdown-language-content, 
.mean-container #languagesAndSearch {
	display: none;
}

/* -------- */
/* CAROUSEL */
/* -------- */

/* Container */
.mean-container  .view-content  table {
	width: 100%;
}
.mean-container  .view-content  table  a {
	text-decoration: none;
}
/* Titles */
.mean-container  .view-osha-home-banner-top .views-field-title {
	background-color: #039;
	background-image: url('../images/flecha.png');
	background-position: 95% 75%;
	background-repeat: no-repeat;
	margin-top: 0em;
	margin-bottom: 0.5em;
	max-width: 100%;
	min-height: 2em;
	position: inherit;
}
/* Text checker, remove before publish on the Web */
.mean-container .view-osha-home-banner-top .views-field-title {
	background-position: 95% 82.5%;
}

/* Image */
.mean-container  .view-content  table img {
	width: 100%;
	height: auto;
}

/* Remove link */
.view-osha-home-banner-top .views-field-field-banner-link {
	display: none;
}

/* Margins */
.highlights_row div {
	margin-bottom: 0px;
}
.view-osha-home-banner-top.view-display-id-home_page_banner_top {
	padding-bottom: 0.5em;
	border: none;
}
/* END CAROUSEL */

/* -------------- */
/* HIGLIGHTS List */
/* -------------- */

/* Containers */
#block-views-highlight-block-2 {
	margin-left: 0;
}
.view-id-highlight .views-row {
	margin: 0!important;
	padding-top: 1em!important;
}
.view-id-highlight .view-content {
	padding-left: 1em;
	padding-right: 1em;
}
.view-header.back {
	padding-right: 1em;
	margin-top: -2em;
}
.view-header.back a {
	background: url("../images/flecha-izq.png") no-repeat scroll 0% center% rgba(0, 0, 0, 0)!important;
	color: #FFF!important;
}
/* H1 */
.view-highlight .field-name-title-field h1 {
	background: url('') #FFF!important;
	color: #039!important;
	padding: 0!important;
}
.node-highlight.node-teaser .field-name-field-image, .node-highlight.node-teaser .field-name-body {
	float: none;
	padding-right: 0!important;
	padding-left: 0!important;
} 
.node-highlight.node-teaser .field-name-field-image img {
	width: 100%;
	height: auto;
}
/* H2 */
#block-views-highlight-block-2 h2 {
	background-color: #039;
	background-image: none; /*url('../images/flecha.png');*/
	background-position: 97% 75%;
	background-repeat: no-repeat;
	color: #FFF;
	float: none;
	font-size: 2em;
	font-weight: normal;	
	margin-top: 0em;
	margin-bottom: 0em;	
	padding-left: 0.5em;
	position: relative;
	width: auto;
}
#block-views-highlight-block-2  table {
	margin-bottom: 0em;
}
/* One column */
.view-id-highlight .view-content table tbody tr td {
	display: block;
	padding-bottom: 1.5em;
	padding-top: 0;
	padding-right: 0;
	width: 100%;
}
/* Date of the news */
.views-field.views-field-field-publication-date {
	/*color: #039;*/
}
/* Title of the news */
.view-id-highlight .view-content table tbody tr td .views-field-title {
	height: auto;
}
/* Summary of the news */
.view-id-highlight .view-content table tbody tr td .views-field-field-summary {
	height: auto;
	padding-top: 0.2em;
}

.view-id-highlight .view-content table tbody tr td .views-field-view-node  {
	margin-top: 0.5em;
}

.separator_recomended_resources_home, .title_recomended_resources_home , 
#recommended_resources, #block-views-events-index-block-1 , #block-views-news-oshnews-latest, 
#related-wiki, #block-views-related-content-block-2, #block-views-related-content-block-1 , .region-sidebar-second h4 {
	display: none;
}

/* View All link */
.more-link {
	background-color: #039;	
	min-height: 1em;
	font-size: 125%;
	padding-top: .5em;
	padding-bottom: .5em;
}
.more-link a {
	color: #FFF;
	float: none;
	padding-right: 2.1em;
	background: url("../images/flecha.png") no-repeat scroll 80% 29% rgba(0, 0, 0, 0)!important;    
}
/* END HIGHLIGHTS List */

/* ------------------ */
/* OSHMail Newsletter */
/* ------------------ */
#block-osha-newsletter-osha-newsletter-subscribe h2 {
	font-weight: bold;
}
.sidebars_second {
	float: none;	
	margin-left: 0em;
	margin-top: 1em;	
	width: 100%;
}
#block-osha-newsletter-osha-newsletter-subscribe {
	margin-bottom: 0em;	
}
#block-osha-newsletter-osha-newsletter-subscribe  a {
	font-weight: normal;
}
#block-osha-newsletter-osha-newsletter-subscribe input[type="submit"] {
	padding-right: 2.1em;
	margin-top: 0.2em;
	font-size: 1.4em;
	background-position: 97% center;
}
#block-osha-alert-service-osha-alert-block-front-view .form-item {
	border-top: 1px dashed #B7C6E3;
	padding-top: 0.8em;
}
#block-osha-alert-service-osha-alert-block-front-view  {
	background-color: #E9EDF6;
	padding: 0em 1em 1em 1em;
}
#block-osha-alert-service-osha-alert-block-front-view  .link span {
	color: #333;
	font-family: "Open Sans Condensed";
	/*font-size: 1.5em;*/
	font-weight: lighter;
	padding-bottom: 0.2em;
}
/* Try all link */
#block-osha-alert-service-osha-alert-block-front-view  .link  a {	
	background: url("../images/flecha.png") no-repeat scroll 97% center #B7C6E3;
	border: 0 none;
	color: #039;
	display: block;
	font-family: "Open Sans Condensed";
	font-size: 1.25em;
	font-weight: bold;
	margin-top: 0.2em;
	padding-bottom: 0.5em;
	padding-right: 2.1em;
	padding-top: 0.5em;
	text-align: right;
	text-decoration: none;
	width: auto;
}

/* Subscription */
#block-osha-newsletter-osha-newsletter-subscribe-extra {
	background-color: #E9EDF6;	
	height: auto;
	margin-right: 0;
	margin-top: 1em;
	padding: 0em;
	width: 100%;	
}
#block-osha-newsletter-osha-newsletter-subscribe-extra h2 {
	padding: 0.7em;
}
#join_subscribers img {
	height: auto;
	width: 100%;
}
#block-osha-newsletter-osha-newsletter-subscribe-extra #subscribe-extra {
	padding: 1em;
	padding-top: 0;
}
#block-osha-newsletter-osha-newsletter-latest {
	padding: 1em;
}
#block-osha-newsletter-osha-newsletter-latest h2 {
	padding: 0em;
}
/* END OSHMail Newsletter */

/* ------ */
/* FOOTER */
/* ------ */

footer {
	padding-bottom: 0px;
	border-bottom: 8px solid #333;
}

/* Policy footer */
#footerMenu {	
	display: block;
	float: none;
	font-size: 140%;
	font-weight: lighter;
	margin: 1em 0 .5em 0;
	padding: 0 .5em 0 .5em;
	text-align: center;
	width: auto;
}

/* Social networks footer */
#socialNetworksFooter {
	border-top: 8px solid #FFF;
	float: none;
	margin: 0;
	margin-top: 1.4em;
	padding-bottom: 1.2em;
	padding-top: 1.2em;
	text-align: center;
	width: auto;	
}
/* Remove the padding of the first link, to keep the same gap */
#socialNetworksFooter a:first-child {
	padding-left: 0px;
}
/* END FOOTER */
/* END HOME */

/* --------------- */
/* HIGHLIGHTS List */
/* --------------- */

#main {
	padding: 0;
	font-size: 120%;
}
#content {
	float: none;
	border-top: none;	
	padding-top: 0em;
	padding-bottom: 0em;
	clear: both;
}
#content a {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
    -ms-hyphens: auto;
	hyphens: auto;
	word-break: break-all
	word-wrap: break-word;	
}
.two_column, .three_column {
	margin: 0!important;	
	padding: 1em;
	width: auto!important;
}
.field-name-field-summary {
	padding: 0.5em 1em 0 1em!important;
}

/* Set all h1 */
h1, .field-name-title-field h1  {
	background: url('') #039!important;
	color: #FFF;
	padding: 0 0.5em 0.1em 0.5em!important;
}
/* Main container submenu */
#block-menu-block-3 {
	margin: 1.5em 1em 1.5em 1em;
}
#block-menu-block-3 #main-menu-links {
	border-top: 1px dashed #039;
}
/*
.menu-block-3 ul {
	margin: 1em 0 1em 0;
}*/
.menu-block-3 ul li {
	border-bottom: 1px dashed #039;
	float: none;
	padding: 0.7em 0em 0.7em 0em;
}
.link_news_events  {
	text-align: right;	
}
.link_news_events a {
	float: none;
}
/*
.menu-block-3 ul li:first-child {
	border-top: 1px dashed #039;
}
*/
#main-menu-links .introduction-title a {	
	position: relative;
	bottom: inherit;
}
.introduction-title {
	border-bottom: none!important;
	background-color: #D2DCED;
	display: block;
	height: auto;
	letter-spacing: normal;
	margin-bottom: 0.18em;	
	width: auto;
}
.news_and_events ul li .introduction-title {
	margin-left: -1em;
	padding: 0.15em 1em 0.15em 1em!important;
	width: 99.5%;
}
.news_and_events .introduction-image {
	margin-left: -1em;
	width: 109.5%;
}
.news_and_events ul li {
	width: 100%;
}
#main-menu-links li.menu__item {	
	margin: 0;
}
/* End submenu */

/* End Highlights List */


/* ----------------- */
/* HIGHLIGHTS Detail */
/* ----------------- */
.node-highlight.view-mode-full .field-name-field-publication-date, 
.node-news.view-mode-full .field-name-field-publication-date {
	padding-left: 1em;
	padding-right: 1em;
}
.node-highlight.view-mode-full .field-name-title-field h1 {
	background-color: #FFF!important;
	color: #000;
	line-height: 1.15;
	
}
/* Top image field */
.field-name-field-image {
	margin-top: 3px;
}
/* Image container */
.node-highlight.view-mode-full .field-name-field-image {
	padding-left: 1em;
	padding-right: 1em;
}
.node-highlight.view-mode-full .field-name-field-image img {
	margin-top: 1em;
}
.ui-accordion .ui-accordion-header {
	width: auto!important;
	padding-right: 1.5em;
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	left: 0;
}
/* Same space within contents */
article.node-article .field-name-body  {
	padding: 0 1em 0 1em!important;
}
/* End Highlights Detail */


/* --------- */
/* News List */
/* --------- */
.node-news.node-teaser .field-name-field-image {
	display: none;
}
.views-row {
	margin: 0 1em 0 1em!important;
}
.node-news .field-name-title-field  {
	line-height: 1.25;
}
.node-news.view-mode-full .field-name-title-field {
	padding-left: 0.5em!important;
	padding-right: 0.5em!important;
}
.node-news .field-name-title-field a {
	background: none;
	padding-left: 0em;
	
}
.field-name-field-publication-date, .node-news.view-mode-full .field-name-field-publication-date  {
	line-height: 1.15;
}
.node-news.node-teaser .field-name-field-summary {
	padding-left: 0!important;
	padding-right: 0!important;
}
.node-news .field-name-field-summary p , 
.node-news .field-type-text-with-summary p {
	font-size: inherit;
}
/* Pager */
.item-list ul.pager {
	display: flex;
	justify-content: center;
	word-wrap: normal;
	padding-left: 1em;
	padding-right: 1em;
}
/*
ul.links.inline {
	float: none!important;
	display: block!important;
	text-align: left!important;
	padding: 1em 1em 1em 1em!important;
	background: url("")!important;
	border-top: 5px solid #AAB7D9!important;
	border-bottom: 1px dashed #AAB7D9!important;
	margin-top: 2em!important;
	margin-bottom: 0!important;
}
*/ 
.node-news ul.links.inline {
	display: block;
	margin: .3em;
	padding-bottom: 0em!important;
}
.addtoany {
	float: none;
}
.addtoany_list > a {
	display: inline;
	font-weight: bold;
}
.node-news ul.links.inline .addtoany_list a.a2a_dd.addtoany_share_save, .node-article ul.links.inline .addtoany_list a.a2a_dd.addtoany_share_save {
	color: #9FB8DD!important;	
}
/* End Share this */
/* End News List */


/* News Detail */
/* ----------- */
/* Image container */
.node-news.view-mode-full .field-name-field-image {
	float: none;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 1em;
	text-align: center;
}
.node-news img  {
	margin-right: 0;
	margin-top: 0;
}
/* End News Detail  */


/* ----------- */
/* Legislation */
/* ----------- */
.view-legislation-guidelines table caption {
	line-height: normal;
}
/* External URL */
.field-name-field-external-url, .field-name-field-available-in-languages {
	padding-left: 1em;
	padding-right: 1em;
}
.field-name-field-available-in-languages {
	margin-bottom: 1em;
}
/* End Legislation */


/* -------- */
/* Seminars */
/* -------- */
.node-seminar.view-mode-full .group-seminar-event-details, 
.node-seminar.view-mode-full .field.field-name-field-related-resources, #block-block-4 {
	margin-right: 1em;
	margin-left: 1em;
}
.node-seminar.view-mode-full .field-name-field-related-resources .field-item {
	margin-top: 0.5em;
}
#block-views-seminars-block .view-seminars ul li .views-field-field-seminar-start-date span.date-display-single {
	padding-bottom: 0em;
}
#block-views-seminars-block .view-seminars ul li .views-field-title span a {
	padding-top: 1em!important;
}

/* ------------- */
/* News & Events */
/* ------------- */
.view-id-events_index .view-filters {
	padding: 1em;
}
/* CALENDAR */
#ui-datepicker-div {
	font-size: 85%;
	font-family: "Open Sans Condensed", Arial, Verdana;
}
#ui-datepicker-div .ui-datepicker-calendar th {
	font-size: 130%;
}
#ui-datepicker-div  tbody {
	
}
#ui-datepicker-div .ui-datepicker-calendar td a {
	color: #666;
	margin: 0;
	padding: 0;
	padding-left: 1px;
	padding-right: 1px;
	text-align: center;
}
#ui-datepicker-div .ui-datepicker-calendar td a.ui-state-active {
	color: #FFF;
}
/* END CALENDAR */
.node-article.view-mode-full .menu-block-3 ul li {
	border: none;
}
.field-name-body #block-menu-block-3 {
	margin: 0em;
}
.field-name-body #block-menu-block-3 .introduction-image {
	display: block!important;
}
.field-name-body #block-menu-block-3 .introduction-title {
	background-color: #D2DCED;
	margin-bottom: 0.2em;
	padding: 0.2em;	
}

.field-name-body #block-menu-block-3 .menu-block-3 ul li:first-child {
	border-top: none;
}
.view-events-index h3 {
	padding-left: 0.7em;
	padding-right: 0.7em;
}
.view-events-index .views-row {
	padding-left: 0em!important;
	padding-right: 0em;
}
/* Form */
/* Search */
.views-exposed-form .views-exposed-widget  {
	float: none;
	padding: 0em;
	height: auto;
}
.views-exposed-form .views-exposed-widget label {
	margin-top: 1em;
	padding-bottom: 0em!important;
	font-family: "Open Sans Condensed", Arial, Verdana!important;
}
.views-exposed-form .views-exposed-widget input {
	background-color: #00319E;
	border: none;
	color: #FFF;
	padding: 0.25em;
	width: 50%;	
}
/* Search by country */
.view-events-index #edit-field-country-code {
	background-color: #FF2B84;
	color: #FFF;
	padding: 0.25em;
	width: 100%;
	margin-top: 0;
}
.view-events-index #edit-field-country-code option {
	background-color: #D2DCED;
	color: #00319E;	
}
#edit-field-start-date-value-wrapper, #edit-field-start-date-value2-wrapper {
	float: left;
	width: 50%;
	margin-top: 1.5em;
}
article.node-events.view-mode-full {
	padding-right: 1em;
	padding-left: 1em;
}
#block-block-10 {
	padding-right: 1em;
	padding-left: 1em;
}
#block-block-10 a {
	background-position: right center;
	padding-right: 2em;
}
.group-events-description p {
	margin-top: 0;
}
/* End News & Events */


/* ---------- */
/* Press room */
/* ---------- */

#block-osha-press-release-osha-press-rel-join-list h2,
#block-osha-press-release-osha-press-rel-join-list #join-list,
#block-osha-press-release-osha-press-rel-become-partner h2,
#block-osha-press-release-osha-press-rel-become-partner #become-partner {
	background-color: #FFF!important;
}
#block-osha-press-release-osha-press-rel-join-list h2,
#block-osha-press-release-osha-press-rel-become-partner h2 {
	background: url("../images/separator_home.jpg") repeat-x scroll 0% 85% rgba(0, 0, 0, 0);
	margin-right: 1em;	
	margin-left: 1em;
	padding: 0em;
	padding-top: 0.25em;
	padding-bottom: 1em;
}
#block-osha-press-release-osha-press-rel-join-list #join-list,
#block-osha-press-release-osha-press-rel-become-partner #become-partner {	
	padding: 0em 1em 0em 1em;
}
.views-row article.node-press-release {
	padding-left: 0px!important;
	padding-right: 0px!important;
}
.view-press-releases .field-name-field-summary {
	padding-left: 0em!important;
	padding-right: 0em!important;
}
.view-press-releases ul.links.inline {
	background: url("../images/flecha.png") no-repeat scroll right 75% rgba(0, 0, 0, 0)!important;
	border-top: none!important;
	border-bottom: none!important;	
	text-align: right!important;	
	width: inherit!important;
}
.view-press-releases ul.links.inline a {
	padding-right: 0em;
}
.view-press-releases .more-link {
	background-color: #d2dced;
}
.view-press-contacts {
	padding: 0em 1em;
}
/* Remove Social network block */
/*
#block-on-the-web-0 {
	display: none;
}
*/
#block-views-press-contacts-block h2 {
	padding: 0.3em 1em 0.3em 0.6em;
}
/* Contacts block & EU-OSHA in the media */
#block-aggregator-feed-1 h2 {
	padding: 0 1em 0.3em 0.6em;
}
#block-aggregator-feed-1 ul {
	padding: 0em 1em 1em 1em;
}
#block-aggregator-feed-1 ul li {
	padding-top: .5em;
}
#block-aggregator-feed-1 ul li .feed-item-date {
	font-size: 90%;
}
#block-aggregator-feed-1 ul li a {	
	background-position: left center;
}
/* Press Detail */

/* H2 */
#block-views-press-releases-block h2 {
	padding: 0 0.5em;
}
/* Article block */
article.node-press-release {
	padding-left: 1em!important;
	padding-right: 1em!important;
}
article .field-name-body {
	padding: 1em!important;
	padding-bottom: 0!important;
}
.node-press-release .field-label {
	margin-bottom: 1em;
}
.node-press-release ul.links.inline {
	border-bottom: none!important;
	padding-bottom: 0px!important;
}
/* EU-OSHA in the MEDIA */
#aggregator {	
	padding: 1em;
	padding-bottom: 0em;
	word-wrap: break-word;
}
/* End Press room */


/* ------------ */
/* PUBLICATIONS */
/* ------------ */
#block-block-3 {
	padding: 0em 1em;
}
.node-publication.node-teaser ul.links {
	border-top: none!important;
	border-bottom: none!important;
	padding: 0em!important;
	padding-top: 0.5em!important;
	padding-bottom: 0.5em!important;
	background: url("../images/flecha.png") no-repeat scroll right center rgba(0, 0, 0, 0)!important;
	width: auto;
}
.node-publication.node-teaser ul.links  li {
	display: block;
	text-align: right;
}
.view-publications-index .views-row {
	margin-top: 1.5em!important;
}
.node-publication .field-name-title-field {
	padding: 0em;
}
.node-publication .field-name-title-field h1 {
	margin-top: 0.5em;
	padding-left: 0.6em!important;
	padding-right: 0.6em!important;
}
article.node-publication.view-mode-full .field-name-field-publication-date {
	padding-left: 1em!important;
}
.node-publication .field-name-field-publication-date, .node-publication .field-name-body {	
	padding-right: 1em!important;
	padding-top: .5em!important;
}
#related-wiki-publications article.node-wiki-page {
	margin-left: 1em;
	margin-right: 1em;	
}
#related-wiki-publications .related_wiki_head  {
	padding: 0.2em 1em;
}
#related-wiki-publications .field-name-title-field {
	padding: 0.5em 0em 0em 0em;	
}
#related-wiki-publications .field-name-field-summary, #related-wiki-publications .field-name-field-summary p {
	padding-left: 0!important;
	padding-right: 0!important;
}
#related-wiki-publications .field-name-field-wiki-page-url {
	margin-top: 1em;
}
/* Pubs Searcher */
#block-views-exp-search-site, #block-views-exp-search-wiki, .view-search.view-id-search {
	padding: 1em;
}
/* Publication Image */
.node-publication.view-mode-full .field-name-field-cover-image {
	float: none;
	padding-left: 1em;
}
.node-publication .field-name-body.field-type-text-with-summary  {
	padding-left: 1em!important;
}
.field-name-field-publication-bookshop-id {
	display: none;
}
.node-publication.view-mode-full .field-name-field-file {
	margin-right: 1em;
	margin-left: 1em;
	padding: 0.5em;
	width: auto;
}
.node-publication .group-summary-resources {
	margin-top: 1em;
	margin-right: 1em;
	margin-left: 1em!important;
	width: auto!important;
}
.node-publication .group-summary-resources .field-items div {
	margin: 1em 0em;
}

/* Related Publications */
#related-publications .related_publications_head {
	padding-right: .7em;
	padding-left: .7em;
}
#related-publications div article {
	margin: 0em 1em 0.5em 1em;
	padding: 0;
}
#related-publications article .field.field-name-field-publication-date.field-type-datetime.field-label-hidden {
	padding-left: 0em!important;
}
iframe {
	width: 100%;
}
body.page-search-publications aside.sidebars_first {
	border-top: 5px solid #039;
	display: block!important;
	float: none;
	margin-left: 1em;
	margin-top: 0em;
	margin-right: 1em;
	width: auto;
}
.block-facetapi h2 {
	background: url("../images/triangle-collapsed.png") no-repeat scroll 96% center #E8EEF7 !important;
	border: 0 none;	
	color: #039;
	cursor: pointer;
	display: block;
	font-family: "Open Sans Condensed", Arial!important;
	font-size: 1.35em;
	font-weight: 400;
	height: auto;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
}
.block-facetapi h2.expand {
	background: url("../images/triangle-expanded.png") no-repeat scroll 96% center #E8EEF7 !important;
}
.block-facetapi .facetapi-facetapi-checkbox-links {
	padding-left: 1.5em;
}
/* Filter */
#block-osha-search-osha-search-clear-filters h3 {
	background: url('') #E8EEF7;
	border-top-color: #FFF;
	color: #039;
	font-size: 1.5em;
	font-weight: bold;
	margin-left: -1em;
	overflow: hidden;
	padding: 0 1em 0.1em 1em!important;
	width: 120%;
}
#block-osha-search-osha-search-clear-filters a {
	position: absolute;
	top: 7.7em;
	right: 1.5em;
}
#edit-search-api-views-fulltext {
	background: url("") #f0f0f0;
	border: 1px solid #eee;
	border-bottom: 1px solid #ccc;
	color: #000;
	padding: 0.5em;
	
}
#edit-search-api-views-fulltext-wrapper label {
	color: #333 !important;
}
.block-facetapi #facetapi-link {
	background: url('')!important;
	padding: 0;
}
#block-views-exp-publications-index-page {
	border-top: none;
	margin-top: 0em;
	margin-bottom: 0em;
}
#edit-search-api-language-wrapper label, .form-item.form-type-select.form-item-sort-by label, .form-item.form-type-select.form-item-sort-order label {
	border-bottom: 5px solid #E8EEF7;
	margin-bottom: 0.25em;
}

.views-exposed-widget.views-submit-button {
	background: none;
}
#edit-submit-publications-index {
	background-image: none;
	width: 100%;
	margin-bottom: 1em;
	text-align: center;	
}
/* End Publications */


/* ------------ */
/* Infographics */
/* ------------ */
#block-views-infographic-block-2 h2 {
	padding-left: 1em;
	padding-right: 1em;
	margin-top: 1em;
	margin-bottom: 0em;
	display: block;
	float: none;
}
#block-views-infographic-block-2 .attachment-before {
	padding-left: .8em;
	padding-right: 1em;
}

#block-views-infographic-block-1 .view-infographic .views-row {
	float: none;	
	padding: 0em;
	width: auto;
}
#block-views-infographic-block-1 .view-infographic .views-row .views-field-title {
	padding-top: 0em;
	width: auto;
}
#block-views-infographic-block-1  .field-content p {
	margin-top: .5em;
	margin-bottom: 1.5em;
}
#block-views-infographic-block-1  .views-field.views-field-body a.more-link {
	background-color: inherit;
	min-height: inherit;
	font-size: inherit;
	padding-top: inherit;
	padding-bottom: inherit;
}
#block-views-related-content-block-6 .view-related-content {
	padding: 0em;
}
/* End Infographics */



/* --------*/
/* OSHWiki */
/* --------*/
.OSHWiki .p2{
	display: none;
}
.OSHWiki .p3, .OSHWikiWhite .p3 {
	width: auto;
	margin-top: .5em;
	margin-right: 1em;
}
#OSHWikiDivTit {
	margin: 0em;
	background: url("../images/related_wiki_head_big.jpg") no-repeat scroll 0% 53% #039;
	color: #FFF;
	font-size: 2.1em;
	font-weight: bold;	
	padding: 0.5em;	
	padding-left: 1.5em;
}
#OSHWikiDivTit img {
	display: none;
}
/* End Infographics */


/* ------------- */
/*  Blog styles  */
/* ------------- */
.node-type-blog h1#page-title {
	background-color: #B7C6E3!important;
	margin-top: 0.5em;
}
.node-type-blog .view-header.back {
	margin-top: -2em;
}
.node-type-blog .view-header.back a {
	background-position-y: center!important;
	color: #039!important;
	/*padding-right: 1em!important;*/
}
/* Header */
.header__secondary-menu {
	float: none;
	padding-right: 0em;
	padding-top: 0em;	
	text-align: center;
}
.header__secondary-menu  a {	
	background-position: left center;
	display: inline-block;
	padding-top: 1em;
	padding-bottom: 0.6em;
}
/* Logos */
/* Blog logo */
#blogLogo {
	border-top: 5px solid #039;
	height: 2.5em;
	margin-top: 0.5em;	
	margin-right: 0em;
	margin-left: 0em;
	border-bottom: 5px solid #039;
	/*padding-top: 1.5em;*/
	/*header*/
	padding-left: 1em;
	float:left;
	width:100%;
	padding-bottom:5em;

}
#blogLogo  img {
	height: auto;
	width: 10em;
	max-width: 13em;
	margin-top: 1em;
	float: left;
}
/* Agency logo */
#agencyLogoBlog {
	width: 100%;
	margin-top: -3em;
	padding-left:1em;
}
#agencyLogoBlog img {
	height: auto;	
	width: 10em;
	max-width: 13em;
	padding-left: 1em;
}
/* europe logo */
#europeLogoBlog {
	margin: -4.3em 1em 1em 1em;
}
#europeLogoBlog img {
	
}
/*Latest posts*/
#block-views-blog-block-1 h2 {
	background: url("");
	background-color: #039;
	border: none;
	color: #FFF;
	font-size: 1.6em;
	padding: 0 0.6em 0 0.6em;
}
#block-views-blog-block-1 .views-field-field-image {
	float: none;
	margin-right: 0em;
	margin-bottom: 0.5em;
}
#block-views-blog-block-1 .views-field-field-image img {
	height: auto;
	max-width: 970px;
	width: 100%;	
}
#block-views-blog-block-1  .view-blog .views-row {
	padding-bottom: 1em;
}
#block-views-blog-block-1 .views-field-view-node {
	text-align: right;
}
#block-views-blog-block-1 .view-blog .views-field-view-node a {
	background-position: right center;
	float: none;
	padding-right: 1.5em;
	padding-bottom: 0em;
}
/* Free text search */
#block-views-exp-search-blog-page {
	margin-bottom: 0em;
	padding: 1em;
}
#block-views-exp-search-blog-page #edit-filter {
	width: 50%;
}
#block-views-exp-search-blog-page .views-exposed-form .views-exposed-widget input[type="submit"] {
	padding-right: 2em;
	background-position-x: 90%;
}
.view-blog .views-field-field-image {
	float: none;
	margin: 0;
	padding: 0;
}
.view-blog .views-field-field-image  img {
	width: 100%;
	height: auto;
}
/* Posts by date */
#block-views-blog-block-2 h2 {
	margin: 0 0.7em 0.2em 0.7em;
}
#block-views-blog-block-2  .view-display-id-block_2 {
	padding: 0 1em;
}
/* Recent Tweets */
#block-twitter-block-1 {
	padding: 0 1em;
}
#block-twitter-block-1 #twitter-widget-0 {	
	width: 100%!important;
}
.node-blog .field-name-field-image {
	float: none;
	padding: 0;
}
.node-blog .field-name-field-image img {
	width: 100%;
	height: auto;
}
.node-blog .field-name-title-field {
	padding-right: 0.7em;
	padding-left: 0.7em;
}
.node-blog .field-name-field-publication-date,
.node-blog .field-name-field-author {
	padding-right: 1em;
	padding-left: 1em;
}
#comments #comment-form {
	padding-right: 1em;
	padding-left: 1em;
}
#comments  h2 {
	background-position-y: 85%;
	padding-right: 0.5em;
	padding-left: 0.5em;
}
#comments  input.form-text {
	background-color: #f0f0f0;
	border:  1px solid #f0f0f0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #c0c0c0;
	color: #000;
	padding: 0.25em;
	width: 100%;
}
#comments #edit-actions input {
	background: url("../images/flecha.png") no-repeat scroll 90% center #E8EEF7;
	border: 0 none;
	color: #039;
	font-family: "Open Sans Condensed",sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	float: none;	
	margin-top: 1em;
	padding-bottom: 0.2em;
	padding-right: 2em;
	padding-top: 0.2em;
	text-align: left;
	width: auto;
}
.view-blog .views-row {
	padding-bottom: 2.5em;
}
/* End Blog styles */


/* ------- */
/* Careers */
/* ------- */
#quickset-_careers_accordion {
	margin-right: 1em;
	margin-left: 1em;	
}
.view-vacancies .view-content .views-row {
	padding: 0em;
	padding-bottom: 1em;
}
/* ------------- */
/* Shared styles */
/* ------------- */

/* Remove not responsive version items */
.sidebars_first, .breadcrumb,
#block-views-publications-slidehow,
#block-osha-alert-service-osha-publication-rss,
#block-osha-alert-service-osha-directives-rss,
#block-osha-alert-service-osha-guidelines-rss,
#block-osha-alert-service-osha-news-rss, 
#block-osha-alert-service-osha-events-rss, 
#block-osha-alert-service-osha-blog-rss, 
#block-osha-alert-service-osha-job-vacancies-rss,
#block-osha-alert-service-osha-seminar-rss,
#block-osha-alert-service-osha-calls-rss, 
#block-menu-block-2 {
	display: none!important;
}
/* All Images same style */
.node-highlight.view-mode-full .field-name-field-image img , .node-news img, .node-article  img {
	float: none;
	height: auto;	
	max-width: 987px;
	width: 100%;
}


.contact_us_box{
	clear:both;
}


.block-nodeblock{
	display:none;
}

#block-views-related-content-block-6{
	display:none;

}

.sidebars_first #block-views-exp-search-directives-page, .sidebars_first {
	display:block !important;
	border:0px !important;
	float: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}
.sidebars_first .region-sidebar-first {
	clear: both;
	float: none;
	width: auto;
	margin: 1em 1em 1em 1em;
}

.view.view-search.view-id-search.view .views-row {
	padding-top: 0.5em;
}

.view-mode-full ul.links.inline {
	background: url("../images/separator_home.jpg") repeat-x scroll 0% bottom rgba(0, 0, 0, 0)!important;
	border-top: 5px solid #9FB8DD;	
	display: block!important;
	float: none;
	margin: 0;
	margin-top: 0em;	
	padding-top: 0.5em;
	padding-bottom: 1em!important;
	text-align: right;
}

a {
	overflow-wrap: break-word;
}

.view.view-search.view-id-search .views-field-title-field {
	display: flex;
	margin-bottom: 0.3em;
}
.view.view-search.view-id-search .views-field-field-publication-date  .date-display-single {
	color: #a0a0a0;
	font-weight: normal;
}

#block-facetapi-bhmrhtzu2n0ejkzp9wdi0s1oi2dgbsdm {
	margin-top: 1em;
	margin-bottom: 0;
}
.block-facetapi div {
	padding-top: 0;
}
#block-views-seminars-block {
	margin-right: 1em;
	margin-left: 1em;
}
#block-views-seminars-block .view-seminars ul li .views-field-view-node span a {
	background-position-x: 100%;
	padding-right: 1.5em;
}
#block-views-exp-search-seminars-page #edit-filter-wrapper {
	width: 100%;
}
#edit-submit-search-seminars {
	background: url("") #E8EEF7;
	margin-top: 0.25em;
	padding: 0.25!important;
	text-align: center;
	width: 50%;
}
.view-header .back-to-link {
	background-position-y: top!important;
}
.node-seminar.view-mode-full .field-name-field-seminar-location,
.node-seminar.view-mode-full .field-name-field-seminar-start-date,
.node-seminar.view-mode-full .field-name-field-seminar-end-date {
	margin-top: 0.5em!important;
}
.node-seminar.view-mode-full .field-name-field-seminar-location .field-item.even {
	font-weight: bold;
}

.back-to-link {
	background-position-x: right;
	padding-right: 1.5em;
	padding-bottom: 0em;
}
#block-block-4 {
	margin-top: .5em;
}

#block-quicktabs-calls-quicktab {
	margin-right: 1em;
	margin-left: 1em;
}

#contact{
	margin-top:0em;
}

/*National Focal Points*/

.view-fop-flags table .views-field-field-flag img{
	height:3em;
	width:4em;
	border:1px solid #CCCCCC;
}

.view-fop-flags table  .views-field-title-field{
	width: 6em;
	height: 4em;
}

.view-fop-links h3 {
	background-color: #FFFFFF;
	border-top: 5px solid #003399;
	padding-bottom: 0em;
	padding-top: 0.5em;
	color: #000000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin-top:0em;
	margin-bottom:0em;
}

.view-fop-links  .views-row {
	background: url("../images/separator_home.jpg") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
	padding:1em;
}

.view-fop-links div a{
	color: #003399;
	text-decoration: none;
	background: url("../images/li_arrow.png") no-repeat scroll 0% 100% transparent;
	padding-left: 1em;
	font-size: 0.8em;
	font-weight: bold;
	border-bottom: 0px!important;
}

#block-views-fop-flags-block-1 h3{
	background-color: #FFFFFF;
	border-top: 5px solid #003399;
	padding-bottom: 0em;
	padding-top: 0.5em;
	color: #000000;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1.4em;
	font-weight: bold;
	margin-top:0em;
	margin-bottom:0em;
}

#block-views-fop-flags-block-1  .views-row {
	background: url("../images/separator_home.jpg") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
	padding:1em;
}

#block-views-fop-flags-block-1  .views-row  a{
	color: #003399;
	text-decoration: none;
	background: url("../images/li_arrow.png") no-repeat scroll 0% 100% transparent;
	padding-left: 1em;
	font-size: 0.8em;
	font-weight: bold;
	border-bottom: 0px!important;
}

/*END National Focal Points*/

}