<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'nonce-{$nonce}';">
    <meta http-equiv="X-Content-Security-Policy" content="script-src 'self' 'nonce-{$nonce}';">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSHA</title>
    
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/bootstrap-theme.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/crop_style.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/select2.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/sidebar.css" rel="stylesheet" type="text/css">
    <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/style.css" rel="stylesheet" type="text/css">
    {if $printable}
        <link href="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/css/print.css" rel="stylesheet" type="text/css">
    {/if}
    <script src="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/js/jquery.min.js"></script>
    <script src="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/js/magnific-popup.js"></script>
    <script src="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/js/script.cropbox.js"></script>
    <script src="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/js/scripts.js"></script>
    <script src="http://osha-campaigns-staging.mainstrat.com/partner/forms/mvc/view/js/select2.full.js"></script>


</head>
<body>
