// Insert your styling here.

	body{
	/* para toda la aplicacion */
		font-family: @font-family-base;
		.btn-default, .more-link, .btn-primary{
			color: @btn-default-color;
			background-color: @btn-default-bg;
			border-radius: 0;
			border: none;
			width: auto;
			display: inline;
			padding: 0.5em;
			a{
				color: @btn-default-color;
			}
		}
		.btn-default:before, .more-link:before{
			content: ">";
			padding-right: 0.35em;
		}
		input[type="text"], textarea, select{
			color: @text-color-2;
			border-color: @text-color-2;
			border-radius: 0;
		}
	}
/* FIN para toda la aplicacion */

/* contenedor principal */
	.main-container {
		/* padding-left: 0;
		padding-right: 0; */
		h1, .title-alt{
			color: @h1-default-color;
			font-size: @h1-default-size;
			font-weight: bold;
			text-align: center;
			margin-top: 26px;
			border-bottom: 1px dotted @color3;
			padding-bottom: 0.7em;
			.form-item{
				margin-top: 26px; //ENDIKA
			}
		
		}
		h2{
			color: @h2-default-color-3;
			font-size: @h2-default-size-3;
			font-weight: 100;
			font-style: italic;
			a:empty {
				display: none;
			}
			a:before{
				content: ">";
				padding-right: 10px;
			}
		}
			h2.block-title{
				color: @h2-default-color-2;
				font-size: @h2-default-size-2;
				font-weight: bold;
				font-style: normal;
			}
		h4{
			color: @text-color-3;
			/* text-align: left; */
			clear: both;
		}
		.quotation{
			font-weight: bold;
			font-size: @size9;
			font-family: garamond;
		}
	}
	
	.page-header{
		border-bottom: none;
	}
	.field-name-body .field-item ul {
	  list-style: disc;
	  padding-left: 3em;
	}
	.section-introduction p{
		text-align: center;
		font-weight: bold;
		&:last-child {
			margin-bottom: 10px;
		}
	}
	.checkbox{
		input[type="checkbox"]{
			display: none;
		}
		label{
			color: @text-color-2;
			padding-left: 0;
		}
		label:before {
			border: 2px solid @border-color-2;
			content: "\2716";
			padding: 0px 4px 0px 10px;
			padding: 0px 1px 0px 3px;
			margin-right: 10px;
			color: @color1;
		}
		input[type=checkbox]:checked + label:before {
			content: "\2713";
			/* padding: 0px 1px 0px 3px; */
			color: @text-color-2;
			font-weight: bold;
		}
	}
	.radio{
		margin-bottom: 0.5em;
		input[type="radio"]{
			display: none;
		}
		label{
			color: @text-color-2;
			padding-left: 0;
		}
		label:before {
			border: 2px solid @border-color-2;
			border-radius: 10px;
			content: "\2022";
			padding: 0px 5px;
			font-size: 11px;
			margin-right: 10px;
			color: @color1;
		}
		input[type=radio]:checked + label:before {
			content: "\2022";
			color: @text-color-2;
		}
	
	}
	
	#views-exposed-form-search-site input[type="checkbox"], #views-exposed-form-search-site input[type="radio"]{
		display: none;
	}
	.back-to-link {
		font-weight: bold;
		font-style: italic;
		margin-bottom: 1em;
		text-align: right;

		width: 100%;
		border-bottom: 1px dotted @border-default-color;
		&:before{
			content: ">";
			padding-right: 5px;
		}
	}
	/* breadcrumb */
	.breadcrumb{
		background-color: white;
		padding: 5px 0px 0px 0px;
		margin-bottom: 0;
		font-size: @breadcrumb-txt-size;
		span{
			color: @breadcrumb-txt-color;
			&.delimiter{
				color: @breadcrumb-txt-color;
			}
			a {
				color: @breadcrumb-href-color;
				font-style: italic;
			}
		}
	}
	/* Share */
	.a2a_kit.a2a_target.addtoany_list{
		span.a2a_img_text{
			color: @href-default-color;
			font-weight: bold;
			font-style: italic;
		}
		.a2a_i_facebook{
			  background: url("../images/content/facebook.png") no-repeat center;
			  background-position: center !important;
			  height: 21px;
			  width: 21px;
		}
		.a2a_i_twitter{
			  background: url("../images/content/twitter.png") no-repeat center;
			  background-position: center !important;
			  height: 21px;
			  width: 21px;
		}
		.a2a_i_linkedin{
			  background: url("../images/content/linkedin.png") no-repeat center;
			  background-position: center !important;
			  height: 21px;
			  width: 21px;
		}
		.a2a_i_print{
			  background: url("../images/content/print.png") no-repeat center;
			  background-position: center !important;
			  height: 21px;
			  width: 25px;
		}
		.a2a_i_a2a{
			  background: url("../images/content/more.png") no-repeat center;
			  background-position: center !important;
			  height: 21px;
			  width: 21px;
		}
	}
	#block-views-news-oshnews-latest{
		border-right: 1px dotted @border-default-color;
		border-left: 1px dotted @border-default-color;
	}
	.tools-and-resources-block, #block-views-news-oshnews-latest{
		float: left;
		text-align: center;
		width: 33.3%;
		padding-right: 1em;
		padding-left: 1em;
		h2{
			color: @h1-default-color;
			font-size: @h2-default-size;
			font-weight: bold;
		}
		ul.menu li{
			a{
				padding: 2px 0px;
				font-weight: bold;
				font-style: italic;
			}
			a:before{
				content: ">";
				padding-right: 0.35em;
			}
			.caret{
				display: none;
			}
		}
		span.date-display-single {
		  display: block;
		}
		.node-article .addtoany_list{
			border: none;
			a{
				padding: 0;
				margin-right: 0.3em;
			}
		}
		.view-news .views-row{
			height: auto;
			min-height: auto;
		}
		.a2a_kit.a2a_target.addtoany_list{
			border: none;
			margin-top: 0;
			margin-bottom: .5em;
		}
	}
	.tools-and-resources-block{
		h1{
			margin: 20px 0;
			padding-top: 70px;
			background: url("../images/content/tools-and-resources.png") no-repeat center top;
		}
	}
	.glyphicon-circle-arrow-down:before {
	  content: " ";
	  background: url("../images/content/download.png") no-repeat center;
	  padding: 2px 15px;
	}	
	
	/* homepage slider */
	#homepage_slider{
		height: 321px !important;
		background-color: #749b00;
		margin-bottom: 35px; //by endika
		#num_slides{
			margin: 0;
			padding: 0;
			width: 1139px !important; /*1296 ??*/
			height: 320px !important;
			> div{ /* .views-field.views-field-field-image */
				width: 1139px !important;
				height: 320px !important;
				&.views-field.views-field-body{
					height: 320px !important;
					margin-top: 4em;
					div:empty{
						height: 230px !important;
					}
				}
				div{
					margin: 0;
					padding: 0;
					width: 1139px !important;
					float: right;
					a{
						margin: 0;
						padding: 0;
						height: 2.5em;
						width: 100%;
						float: left;
						color: @slider-color;
						&.more-link{
							width: auto;
							padding: 0.5em;
							margin-left: 1em;
							position: absolute;
							top: 2em;
							right: 20px;
						}
						&.more-link:before{
							content: "";
						}
						img{
							width: 100%;
						}
					}
					p{
						color: @slider-color;
					
						text-align: right;
						padding-right: 20px;
						margin-top: 40px;
					}
				}
			}
		}
		.views-field-title {
			font-size: 39px;
			position: absolute;
			top: 20px;
			right: 20px;
			color: @slider-color;
			z-index: 2;
			float: right;
			font-weight: bold;
			span{
				float: right;
			}
		}
	}
	/* pagination */
	.pagination{
		border:none;
		padding-bottom: 0;
		li > a, li > span{
			  color: @pagination-color;
			  border: none;
		}
		.active > a, .active > span, .active > a:hover, .active > span:hover, .active > a:focus, .active > span:focus{
			background-color: white;
			border: none;
			color: @pagination-active-color;
		}
	}
	/* News */
	.view-news {
		.views-row {
			.content{
				border-bottom: 1px solid @border-default-color;
				padding-bottom: 1em;
				min-height: 180px;
			}
		}
	}
	.node-news{
		//margin: 0px 135px; quitado para responsive
		h1{
			font-style: italic;
			font-weight: normal;
			color: @h1-color-2;
			font-size: @h1-size-2;
		}
		.field-name-field-image img{
			float: left;
			margin-top: 1em;
			margin-right: 1em;
			margin-bottom: 1em;
		}
	}
	
	/* user */
	#block-system-main #views-exposed-form-search-site{
		div div.form-type-textfield, div div.form-type-password{
			width: auto;
			margin-bottom: 1em;
			display: table;
			label{
			    display: block;
			}
			&.error label{
			    padding: 0.2em 0 0 0.2em;
			}
		}
	}
	
	/* Article */
	.node-article{
		//margin: 0px 135px; quitado para responsive
		.field-name-field-image + .field-name-title-field{
			position: absolute;
			background: url("../images/content/image-shadow.png") repeat-x left bottom;
			width: 100%;
			height: 350px;
			z-index: 22;
			top: 68px;
			h1{
				color: @color1;
				padding-top: 230px;
			}
		}
		/* .field-name-field-image + .field-name-title-field h1{
			position: absolute;
			background: url("../images/content/image-shadow.png") repeat-x left bottom;
			width: 100%;
			height: 350px;
			z-index: 22;
			top: 68px;
			color: @color1;
			padding-top: 230px;
		} */
		.field-name-field-image + .field-name-title-field + .field-name-body{
			margin-top: 5em;
		}
		.addtoany_list{
			width: 100%;
			float: left;
			margin-top: 1em;
			padding: 0.5em 0;
			border-top: 1px dotted @border-default-color;
			border-bottom: 1px dotted @border-default-color;
			a{
				margin-right: 1em;
			}
		}
		.list-inline{
			float: left;
			.node-readmore{
				color: @btn-default-bg;
				background-color: transparent;
				font-weight: bold;
				font-style: italic;
				a:before{
					content: ">";
					padding-right: 0.35em;
					margin-left: 1em;
				}
			}
		}
		.field-name-title-field a{
			color: @text-default-color;
			font-weight: bold;
			font-size: @size2;
		}
		.node-article{
			border-bottom: 1px dotted @border-default-color;
			clear: both;
			margin: 1em 0;
			padding: 2em 0;
			.field-name-field-image + .field-name-title-field{
				position: relative;
				background: none;
				height: auto;
				top: 0;
			}
			.field-name-field-image{
				float: left;
				margin-right: 1em;
			}
			.addtoany_list{
				border: none;
				text-align: center;
			}
		}
	}
	
	/* Infographics */
	.view-infographic{
		//margin: 0px 135px; quitado para responsive
		.views-row{
			border-bottom: 1px dotted @border-default-color;
			padding-top: 2em;
			padding-bottom: 2em;
			.views-field-title-field a{
				color: @text-default-color;
				font-size: @size2;
			}
		}
	}
	.node-infographic {
		//margin: 0px 135px; quitado para responsive
		.label_multilang_file{
			padding-right: 3px;
		}
		a{
			font-style: italic;
			font-weight: bold;
		}
		.field-name-field-twin-infographics{
			padding: 1em 0;
			a:before{
				content: ">";
				padding-right: 0.35em;
				margin-left: 1em;
			}
		}
	}
	
	/* Press Room */
	.node-press-release {
		h3{
			a{
				background: url("../images/content/continue-reading.png") no-repeat right center;
				padding-right: 20px;
			}
		}
		.more-link{
			color: @btn-default-bg;
			background-color: transparent;
			font-weight: bold;
			font-style: italic;
			background: url("../images/content/continue-reading.png") no-repeat right center;
			padding-right: 20px;
			&:before{
				content: "";
			}
		}
	}
	
	/* Node-XXX */
	div[class*='node-']{
		h1{
			font-style: italic;
			font-weight: lighter;
			color: @h1-color-2;
			font-size: @h1-size-2;
		}
		.field-name-field-summary{
			font-weight: bold;
		}
		.more-link{
			color: @btn-default-bg;
			background-color: transparent;
			font-weight: bold;
			font-style: italic;
		}
	}
	.field-name-field-publication-date{
		margin-top: 1em;
		span{
			font-size: @size3;
		}
	}
	
	.form-item-relevant-for > label, .form-item-languages > label{
		font-size: @size2;
		font-weight: bold;
	}
	
	/* home news */
	#block-views-news-oshnews-latest{
		h2{
			margin: 20px 0;
			padding-top: 70px;
			background: url("../images/content/news.png") no-repeat center top;
		}
		a{
			color: @href-default-color;
			font-weight: bold;
			font-style: italic;
		}
		a:before{
			content: ">";
			padding-right: 0.35em;
		}
		.more-link{
		    display: inline-table;
			margin-top: 1em;
			a{
				color: @color1;
				&:before{
					content: "";
					padding-right: 0.35em;
				}
			}
		}
		.date-display-single{
			font-size: @size3;
		}
		.view-news{
			border: none;
			.views-row {
				border-bottom: none;
				margin: 0;
			}
		}
	}
	#block-osha-newsletter-osha-newsletter-subscribe, #block-osha-newsletter-osha-newsletter-image{
		clear: both;
		background: url("../images/content/bg-newsletter.png") no-repeat left top;
		background: url("../images/content/bg-campaign-partner.png") no-repeat left 20px;
		height: 320px;
		height: 380px !important;
		margin: 20px 0 !important;
		text-align: center;
		color: #FFF;
		background-size: cover;
		#join_subscribers img{
			left: 0;
		}
		a{
			color: #FFF;
		}
		h2{
			margin-top: 50px;
			padding-top: 100px;
			margin-bottom: 45px;
			/* padding-top: 58px; */
			background: url("../images/content/newsletter.png") no-repeat center 20px;
			color: @h2-default-color;
		}
		p{
			margin: 10px;
			font-weight: bold;
		}
		form{
			input{
				color: @input-content-default-color;
				width: 255px;
				background-color: #FFF;
				border: none;
				border-radius: 0px;
				margin: auto;
				height: 31px;
			}
		}
		.block-title{
			/* top: 3px !important; */
		}
		#block_newsletter_image_text{
			top: 88px;
			top: 150px;
			.form-group{
				display: inline-block;
			}
		}
		#campaigns-newsletter-subscribe-form{
			margin-top: 30px;
			button{
				padding-left: 10px;
			    padding-right: 10px;
			    height: 31px;
			    margin-left: -3px;
			    margin-top: -1px;
			}
		}
		#join_subscribers > img{
			display: none;
		}
	}
	
	/* home events */
	#block-views-frontpage-events-block{
	    float: left;
		text-align: center;
		width: 33.3%;
		h2{
			margin: 20px 0;
			padding-top: 70px;
			background: url("../images/content/events.png") no-repeat center top;
		}
		a{
			color: @href-default-color;
			font-weight: bold;
			font-style: italic;
		}
		a:before{
			content: ">";
			padding-right: 0.35em;
		}
		.date-display-single{
			font-size: @size3;
		}
	}
	
	#block-views-partners-block-1{
		padding-top: 1em;
		clear: both;
		h2{
			/* border-bottom: 1px dotted @border-default-color; */
			text-align: center;
			background: url("../images/content/partners.png") no-repeat center top;
			padding-top: 70px;
			padding-bottom: 0.5em;
			margin-bottom: 0px;
		}
		.views-field-field-logo{
			padding-top: 1em;
		}
		.view-content{
			height: 160px;
			border-top:  1px dotted @border-default-color;
			div.views-row{
				height: 100%;
				float: left;
				border-right:  1px dotted @border-default-color;
				&:last-child{
					border: none;
				}
			}
		}
		.more-link{
			clear: both;
			width: 100%;
			margin: 2em auto 0;
			float: left;
			text-align: center;
			background-color: @color0;
			a{
				background-color: @bg-color-2;
				padding: 10px;
				&:before{
					content: ">";
					padding-right: 0.35em;
				}
			}
		}
	}
	
	#block-views-publications-slideshow-slidehow, #block-system-main{
		#publications_slideshow{
			width: 926px !important; 
			border-bottom: 1px solid @border-default-color;
			border-top: 1px solid @border-default-color;
			margin: 0em auto 1em;
			#num_slides{
				left: 5em;
				top: 0em;
				> div{
				}
	
				.field-name-title-field{
					float: left;
					margin-left: 6em;
					width: auto;
					h5{
						font-size: @h5-default-size;
						font-weight: bold;
						:before{
							content: ">";
							padding-right: 0.5em;
							color: @text-color-2;
						}
					}
				}
				.field-name-field-publication-date{
					/* float: left;
					margin-left: 20px; */

					margin-top: 12px;
					margin-left: 6em;
					span{
						font-size: @size3;
					}
				}
				.field-name-body{
					  clear: both;
					  margin-left: 6em;
				}
				.field-name-field-cover-image{
					/* float: left; */
					position: absolute;
					top: 1em;
					margin-top: 0;
					img{
						width: auto;
					}
				}
				ul{
					margin-top: 1em;
					margin-left: 6em;
					list-style: none;
					padding-bottom: 0em;
					border-bottom: none;
					a{
						font-style: italic;
						font-weight: bold;
					}
				}
				.publication-item{
					border-bottom: none;
				}
			}
			.jssora03l, .jssora03r{
				display: block !important;
				top: 0 !important;
				min-height: 250px;
				background-color: @bg-color-2;
			}
			.jssora03l{
				left: 0;
				/* background-position: -3px 53px; */
				background: @bg-color-2 url("../images/content/slider-left.png") no-repeat center;
			}
			.jssora03r{
				right: 0px;
				/* background-position: -63px 53px; */
				background: @bg-color-2 url("../images/content/slider-right.png") no-repeat center;
			}
			.jssorb03{
				top: 200px;
				display: block !important;
				div{
					background: url("../images/content/navigation.png") no-repeat;
					height: 20px;
					width: 20px;
				}
				.prototypeav, .prototypeav:hover, .prototypedn, .prototypedn:hover{
					background-position: 3px center;
				}
				.prototype, .prototype:hover{
					background-position: -20px center;
				}
			}
		}
		
		.more-link{
			color: @btn-default-bg;
			background-color: transparent;
			font-weight: bold;
			font-style: italic;
		}
	}
	
	.col #block-views-publications-slideshow-slidehow, .col #block-system-main{
		#publications_slideshow{
			/* width: 75%;
			width: 66%; */
			width: 782px; /* para que tambien funcione en IE */
			float: right;
			#num_slides{
				left: 5em;
				> div{
					width: 650px !important;
				}

			}
		}
		
	}
	.pane-osha-publication-osha-publication-listing{
		h4{
			font-size: @size1;
		}
	}
	
	#search{
		margin: 1em 0;
		padding: 1em 0 0;
		border-top: 1px dotted @border-default-color;
		border-bottom: 1px dotted @border-default-color;
		width: 100%;
		float: left;
		div{
			float: left;
		}
		button{
			float: left;
			background: @bg-color-2 url("../images/content/search.png") no-repeat center;
			height: 34px;
			width: 30px;
			color: @color0;
		}
	}
	#views-exposed-form-search-site #search button {
		margin-top: 0;
	}
	#osha-publication-menu-publications-form{
		.form-type-textfield{
			float: left;
		}
	}
	.publication-item{
		padding: 1em 0;
		border-bottom: 1px dotted @border-default-color;
		h5{
			color: @h5-default-color;
			font-size: @h5-default-size;
			font-weight: bold;
			:before{
				content: ">";
			}
		}
		.field-name-field-cover-image{
			float: left;
			margin-top: -80px;
			img{
				width: 160px;
				margin-right: 20px;
			}
		}
		.field-name-title-field, .field-name-field-publication-date{
			margin-left: 180px;
		}
		.more-link, ul li a{
			color: @btn-default-bg;
			background-color: transparent;
			font-weight: bold;
			font-style: italic;
		}
		ul{
			list-style: none;
			margin-top: 1em;
			padding-left: 0;
		}
	}
	
	/* Practical tools */
	.pane-hwc-practical-tool-hwc-practical-tool-listing{
		h4{
			font-size: @size1;
		}
		.field-label-inline{
			float: left;
			margin: 1em 1em 1em 0;
		}
		.field-type-text-with-summary{
			clear: both;
		}
		.link-wrapper ul li a{
		    color: @text-color-2;
			background-color: @color0;
			font-weight: bold;
			font-style: italic;
			&:before{
			    content: ">";
				padding-right: 0.35em;
			}
		}
	}
	.pane-node-field-free, .pane-node-field-country, .pane-node-field-tool-type{
		background-color: @color8;
		color: @text-color-2;
		font-style: italic;
		font-weight: bold;
		float: left;
		margin-right: 2em;
		padding: 0.5em 1.5em;
	}
	.pane-node-field-provider, .pane-node-body, .pane-node-field-implementation-steps, .pane-node-field-dissemination-used, .pane-node-field-access-tool-link,
		.pane-hwc-practical-tool-hwc-practical-tool-language-list, .pane-node-field-external-urls{
		clear: both;
		width: 100%;
		float: left;
		margin: 1em 0 0;
		.field-label{
			width: 15%;
			float: left;
		}
		.field-items{
			width: 85%;
			float: left;
		}
		.practical-tool-languages{
			font-weight: bold;
			b{
				width: 15%;
				float: left;
			}
		}
	}
	.pane-node-field-access-tool-link{
		border-top: 1px dotted @border-default-color;
		padding-top: 2em;
		a{
			font-weight: bold;
			font-style: italic;
			background: url("../images/content/continue-reading.png") no-repeat right center;
			padding-right: 20px;
		}
	}
	.panel-panel div .pane-node-field-access-tool-link:first-child{
		padding-top: 1em;
		a{
			font-size: 30px;
			font-weight: normal;
			line-height: 2em;
		}
	}
	.pane-node-field-external-urls{
		a{
			font-weight: bold;
			font-style: italic;
			&:before{
				content: ">";
				padding-right: 0.35em;
			}
		}
	}
	
	/* Site Map */
	.site-map-menu{
		span{
			line-height: @size1;
		}
		a{
			font-weight: bold;
			font-style: italic;
			&:before{
			    content: ">";
				padding-right: 0.35em;
			}
		}
	}
	
	/* Accesibility */
	.accesibility_table{
		tr:first-child{
			background-color: @bg-color-2;
			color: @color1;
		}
		td, th{
			padding: 0.5em;
		}
	}
	
	/* Search page */
	.form-type-radio.form-item-sort-by.form-item.radio{
		display: inline;
	}
/* FIN contenedor principal */




/* -----------ENDIKA------------ */
/*HOME*/
#block-nodeblock-29{//to do wendsday, referenciar mejor, solo para spring1
	.addtoany_list{
		display: none;
	}
	.list-inline{
		display: none;
	}
	.hwc-share-widget{
		display: none;
	}
	h1{
		border-bottom: none;
	}
}
/*fin Home*/

/*share line*/
.a2a_kit.a2a_target.addtoany_list{
	width: 100%;
	float: left;
	margin-top: 1em;
	margin-bottom: 2.5em;
	padding: 0.5em 0;
	border-top: 1px dotted @border-default-color;
	border-bottom: 1px dotted @border-default-color;
	a{
		margin-right: 1em;
	}
}

/* -News- */
.view-news {
	.views-row {
		border-bottom: 1px dotted @color3;
		padding-bottom: 1em;
		//margin: 0px 135px; quitado para responsive
		min-height: 180px;
		overflow: hidden;
		h2{
			font-size: @size2;
			font-weight: bold;
			font-style: normal;
		}
		.field-name-field-summary{
			font-weight: bold;
			margin-bottom: 1em;
		}
		.field-name-field-publication-date{
			margin-bottom: 1em;
		}
		.field-type-text-with-summary{
			margin-bottom: 1em;
			.more-link{
				background-color: transparent;
				color: @color2;
				font-weight: bold;
				font-style: italic;
				&:before{
					content: "> ";
				}
			}
		}
		.left-column{
			//para imagen articulos news
			min-height: 250px;
			float:left;
			.field-name-field-image img{
				float: left;
				margin-top: 1.8em;
				margin-right: 1em;
				margin-bottom: 1em;
			}
		}
	}
}
.node-news{
	//margin: 0px 135px; quitado para responsive
	h1{
		font-style: italic;
		font-weight: normal;
		color: @h1-color-2;
		font-size: @h1-size-2;
	}
	.field-name-field-image img{
		float: left;
		margin-top: 1em;
		margin-right: 1em;
		margin-bottom: 1em;
	}
}
/* News-detail */
.hwc-share-widget{
	border-top: 1px dotted @color3;
	border-bottom: 1px dotted @color3;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 26px;
	margin-bottom: 26px;
	ul{
		margin-bottom: 0px;
		position: relative;
		li{
			display: inline;
			list-style-type: none;
			
		}
		.hwc-share-widget-twitter, .napo-share-widget-linkedin{
			
			a{
				background-color: #4c69ba;//color facebook
				background: linear-gradient(#4c69ba, #3b55a0);
				padding: 2px 5px;
				font-size: .8em;
				color: white;
				font-weight: 600;
				margin-left: 10px;
				border-radius: 2px;
				&:before{
					background: url("../images/content/facebook.png") no-repeat center;
					background-position: center !important;
					height: 21px;
					width: 21px;
				}
			}
		}
		.pull-right{
			a{
				margin-top: -20px;
				background-color: #4c69ba;//color facebook
				background: linear-gradient(#4c69ba, #3b55a0);
				padding: 2px 5px;
				font-size: .8em;
				color: white;
				font-weight: 600;
				margin-left: 10px;
				border-radius: 2px;
				position: absolute;
				right: 0;
			}
		}
	}
}
.back-to-link{
	  border-bottom: 1px dotted @color3;
}
.field.field-name-field-summary{
	font-weight: bold;
	margin-bottom: 1em;
}
.field.field-name-field-publication-date{
	padding-top: 0.3em;
	margin-bottom: 1em;
}
.field.field-name-field-image{
	margin-right: 1.5em;
	margin-bottom: 1em;
	float: left;
}
.field.field-name-body{
	p{
		a{
			background-color: transparent;
			color: @color2;
			font-weight: bold;
			font-style: italic;
			&:before{
				//content: "> ";
			}
		}
	}
}
.field-name-field-aditional-resources{
	.field-name-title-field{
		a{
			background-color: transparent;
			color: @color2;
			font-weight: bold;
			font-style: italic;
			&:before{
				content: "> ";
			}
		}
	}
}

.node-type-news{
	#block-system-main { 
	//margin: 0px 135px; quitado para responsive 
	}
} 
/* fin news*/

/* -Press Room- */
//texto introduccion
.section-introduction{
	/* border-bottom: 1px dotted @color3; */
	.field-type-text-with-summary{
		//margin: 0px 135px; quitado para responsive
		padding-bottom: @padding-bottom-introduction-text;
	}
}
//tres bloques
.press-room-blocks-row{
	.panels-flexible-row-inside{
		//margin: 0px 135px; quitado para responsive
	}
	> .panels-flexible-row-inside{
		//border-top: 1px dotted @color3;//quitado para prueba
	}
	.panels-flexible-row-first{
		.pane-osha-press-release-osha-press-rel-become-partner{
			&:before{
				//content: url("../images/content/campaign-partner.png");
				display: block;
				margin-top: 1.5em;
			}
			text-align: center;
			#become-partner-link{
				a{
					margin-top: 1.5em;
					font-weight: bold;
					font-style: italic;
					display: block;
					&:before{
						content: "> ";
					}
				}
			}
		}
		.pane-press-contacts{
			&:before{
				//content: url("../images/content/campaign-partner.png");
				display: block;
				margin-top: 1.5em;
			}
			text-align: center;
			border-left: 1px dotted @color3;
			border-right: 1px dotted @color3;
			.views-field-field-press-contact-email{
				margin-bottom: 2em;
				a{
					font-weight: bold;
					font-style: italic;
				}
			}
		}
		.pane-osha-press-release-osha-press-kit{
			&:before{
				//content: url("../images/content/campaign-partner.png");
				display: block;
				margin-top: 1.5em;
			}
			text-align: center;
			.osha-press-contact-block-link{
				a{
					margin-top: 1.5em;
					font-weight: bold;
					font-style: italic;
					display: inline-block;
				}
			}
		}
		.pane-title{
			color: @color3;
			font-size: @size8;
			font-weight: bold;
			font-style: normal;
		}
	}
}

//articulos pressroom
.view-press-releases {
	.views-row{
		border-bottom: 1px dotted @color3;
		padding-bottom: @padding-bottom-articles;
		&:first-child{
			border-top: 1px dotted @color3;
		}
		h2{
			margin-top: 0px;
		}
		h3{
			font-size: @size2;
			font-weight: bold;
			font-style: normal;
		}
		.field-name-body{
			a{
				display: table-cell;
				padding-left: 0px;
				&:before{
					padding-right: 0em;
				}
			}
		}
		.field-name-field-publication-date{
			margin-bottom: 1em;
		}
	}
}
/*pressroom detail*/
.node-press-release{
	//margin: 0px 135px; quitado para responsive
	iframe{
		margin-right: 1.5em;
		margin-bottom: 1em;
		float: left;
	}
	.field-item.even{
		p{
			a{
				font-weight: bold !important;
			}
		}
	}
	.list-inline > li{
		display: block;
	}
}
.region-sidebar-second{
	//margin: 0px 135px; quitado para responsive
	padding-top: 1.5em;
	border-top: 1px dotted @color3;
	#block-osha-press-release-osha-press-rel-become-partner{
		//float: left;
		//width:33%;
		padding: 0px 10px;
		text-align: center;
		&:before{
			//content: url("../images/content/campaign-partner.png");
			display: block;
			margin-top: 1.5em;
		}
		h2{
			margin-top: 1em;
			margin-bottom: 1em;
		}
		#become-partner-link{
			a{
				margin-top: 1.5em;
				font-weight: bold;
				font-style: italic;
				display: block;
				&:before{
					content: "> ";
				}
			}
		}
	}
	#block-views-press-contacts-block{
		//float: left;
		//width:33%;
		padding: 0px 10px;
		text-align: center;
		border-left: 1px dotted @color3;
		border-right: 1px dotted @color3;
		&:before{
			//content: url("../images/content/campaign-partner.png");
			display: block;
			margin-top: 1.5em;
		}
		h2{
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.views-field-field-press-contact-email{
			margin-bottom: 2em;
			a{
				font-weight: bold;
				font-style: italic;
			}
		}
	}
	#block-osha-press-release-osha-press-kit{
		//float: left;
		//width:33%;
		padding: 0px 10px;
		text-align: center;
		&:before{
			//content: url("../images/content/campaign-partner.png");
			display: block;
			margin-top: 1.5em;
		}
		h2{
			margin-top: 1em;
			margin-bottom: 1em;
		}
		.osha-press-contact-block-link{
			a{
				margin-top: 1.5em;
				font-weight: bold;
				font-style: italic;
				display: inline-block;
			}
		}
	}
}
/*fin pressroom*/

/* Events*/
.page-past-events{
	.region-content{
		#block-system-main{
			.views-row{
				//margin: 0px 135px; quitado para responsive
				padding-top: 20px;
				padding-bottom: 40px;
				border-bottom: 1px dotted @color3;
				.views-field-field-start-date{
					.field-content{
						.date-display-single{
							background-color: @color3;
							color: @color1;
						    float: left;
						    width: 180px;
						    height: 170px;
						    margin-right: 50px;
						    overflow: hidden;
						    margin-top: 5px;
						    font-size: 36px;
						    font-weight: bold;
						    padding: 0px 50px;
						    text-align: center;
						}
					}
				}
				.views-field-title-field{
					a{
						font-weight: bold;
						display: block;
						font-size:@size2; 
						margin-bottom: 20px;
						&:before{
							content: "> ";
						}
					}
				}
				.views-field-field-start-date-1{
					
				}

			}
		}
	}
}
/*Fin events*/

/*Articles*/
.node-type-article{
	article{
		//margin: 0px 135px; quitado para responsive
		.field-name-title-field{
			margin-bottom: 2em;
		}
		h2{
			margin-top: 2em;
			color: @color3;
			font-style: normal;
			font-weight: bold;
			text-align: center;
			border-top: 1px dotted @color3;
			margin-bottom: 1em;
			&:before{
				content: url("../images/content/recommended-for-you.png");
				display:block;
				text-align: center;
				margin-top: 1em;
				margin-bottom: .5em;
			}
		}
		.node-article{
			border-bottom:none;
			padding: .5em 0;
			.field-name-title-field{
				a{
					color: @color2;
					font-weight: bold;
					&:before{
						content: "> ";
					}
				}
			}
			.field-name-field-summary{
				font-weight: normal;
			}
			
		}
		.list-inline{
			display: none !important;//to do wendsday
		}
	}
}
/*Fin articles*/

/*infographics*/
#block-views-infographic-block-1{
	.views-row{
		overflow: hidden;
		.views-field-title-field{
			margin-bottom: 1.5em;
			a{
				color: @color2;
				font-weight: bold;
				&:before{
					content: "> ";
				}
			}
		}
		.views-field-field-thumbnail{
			float: left;
			margin-right: 2em;
			margin-bottom: 1em;
		}
		.views-field-body{
			.field-content{
				a{
					background: transparent;
					color:@color2;
					font-weight: bold;
					font-style: italic;
				}
			}
		}
	}	
}
/*infographics detail*/
.node-type-infographic{
	.node-infographic{
		.field-name-title-field{
			margin-bottom: 30px;
		}
		.field-name-body{
			margin-bottom: 30px;
		}
		.field-name-field-image{

		}
		.field-name-field-twin-infographics{
			margin-top:  30px;
			margin-bottom: 30px;
		}
		.field-name-field-thumbnail{
			margin-bottom: 30px;
		}
	}
}
/*fin infographics*/

/*Become a media partner*/
.become-partner{
	.coments{
		margin-top: 50px;
		margin-bottom: 60px;
		.col{
			padding-right: 1.5em;
			padding-left: 1.5em;
			h2{
				border-top: none;
				margin-top: 0px;
				margin-bottom: 10px;
				&:before{
					content: " ";
					background: center url("../images/content/news.png") no-repeat;
    				background-size: 150px;
					background-size: 130px 130px;
					min-height: 150px;
					margin-top: 0em;
				}
			}
		}
		.col-2{
			border-left: 1px dotted @color3;
			border-right: 1px dotted @color3;
		}
	}
	.partners{
		overflow: auto;
		background: url("../images/content/bg-campaign-partner.png");
		background-size: cover;
		margin-top: 3em;
		margin-bottom: 3em;
		padding-bottom: 4em;
		.partner{
			margin-top: 3.5em;
			color: @color1;
			.partner-image{
				width: 150px;
			    height: 150px;
			    margin: 0 auto;
			    background-color: @color6;
			    border-radius: 50%;
			    overflow: hidden;
			    img{
			    	width: 100%;
			    	height: 100%;
			    	background-image: url("../images/content/imagen-prueba.jpg");
			    	background-position: 50%;
			    }
			}
			.partner-name{
				h3{
					font-weight: 100;
					font-style: italic;
					font-size: 32px;
					margin-bottom:1em;
				}
			}
			.partner-opinion{
				p{
					font-style: italic;
				}
				.quottes-left{
					height: 50px;
					background: url("../images/content/quottes.png") center no-repeat;
				}
				.quottes-right{
					height: 50px;
					background: url("../images/content/quottes.png") center no-repeat;
					transform: rotate(180deg);
				}
			}
		}
	}
	.description{
		h3{
			color: @color2;
			font-size: @size1;
			font-weight: bold;
			margin-bottom: 15px;
		}
		p{
			margin-bottom: 20px;
			a{
				color: @color2;
				font-weight: bold;
				font-style: italic;
			}
		}
	}
	.see-also{
		margin-bottom: 2em;
		.see-also-title{
			p{
				margin-top: 1em;
				color: @color3;
				font-style: normal;
				font-weight: bold;
				font-size: @size1;
				margin-bottom: 1.5em;
				&:before{
					content: url("../images/content/see-also.png");
					display:block;
					margin-top: 1.5em;
					padding-top: 1em;
					border-top: 1px dotted @color3;
				}
			}
		}
		.more-links{
			ul{
				list-style: none;
				margin-bottom: 40px;
    			padding: 0px;
				a{
					font-style: italic;
					font-weight: bold;
					&:before{
						content:"> ";
					}
				}
			}
		}
		.media-outlet{
			p{
				font-weight: bold;
			}
		}
	}
	button{
		background-color: @color2;
		outline: none;
		border: none;
		color: @color1;
		padding: 5px 40px;
		font-weight: bold;
		margin-bottom: 10px;
		&:before{
			content: "> ";
		}
	}
}
/*fin become*/

/*Partners public profile*/
.container{
	.panel-separator{
		display: none;
	}
}
.profile-edit-links-container{
	.pane-hwc-partner-hwc-partner-private-link-0, .pane-hwc-partner-hwc-partner-private-link-1,
	.pane-hwc-partner-hwc-partner-private-link-2, .pane-node-profile-update-link{
		.pane-content{
			border: 1px dotted @color3;
			min-height: 180px;
			max-height: 180px;
			text-align: center;
			padding: 20px 10px !important;
			margin:10px;
			&:hover{
				background-color: @color8;
			}
			.hwc-partner-private-link-block-title{
				margin-bottom: 15px;
				a{
					color: @color3;
					font-weight: bold;
					font-style: italic;
					font-size: @size2;
					&:before{
						content: "> ";
					}
				}
			}
			.hwc-partner-private-link-block-description{
				a{
					color: @color5;
					font-weight: bold;
					font-style: italic;
				}
			}
		}
	}
	.pane-node-profile-update-link{
		.pane-content{
			a:first-child{
				color: @color3;
				font-weight: bold;
				font-style: italic;
				margin-bottom: 15px;
				font-size: @size2;
				&:before{
					content: "> ";
				}
			}
		}
	}
}
.profile-title-type-container{
	margin-bottom: 90px !important;
	.pane-entity-field{
		.field-name-title-field{
			h1{
				border-bottom: none;
				color: @color5;
				font-size: @size1;
				font-style: normal;
				font-weight: bold;
			}
		}
	}
	.profile-inline-field{
		display: inline-block;
  		text-align: center;
    	width: 33%;
    	font-weight: bold;
    	a{
    		font-style: italic;
    	}
	}
}

.profile-ceo-container{
		background: url("../images/content/bg-campaign-partner.png");
		background-size: cover;
		margin-top: 3em !important;
		margin-bottom: 3em !important;
		padding-bottom: 4em !important;
		text-align: center;
		color: @color1;
		.pane-node-field-ceo-photo{
			margin-top: 3.5em;
			color: @color1;
			.field-name-field-ceo-photo{
				width: 150px;
			    height: 150px;
			    margin: 0 auto;
			    background-color: @color6;
			    border-radius: 50%;
			    overflow: hidden;
			    img{
			    	width: 100%;
			    	height: 100%;
			    	background-image: url("../images/content/imagen-prueba.jpg");
			    	background-position: 50%;
			    }
			}
		}
		.field-name-field-ceo{
			.field-item{
				font-weight: 100;
				font-style: italic;
				font-size: 32px;
				margin-top: 1em;
				margin-bottom:1em;
				
			}
		}
		.pane-node-field-quote{
			font-style: italic;
			font-weight: bold;
			.quottes-left{
				height: 50px;
				background: url("../images/content/quottes.png") center no-repeat;
			}
			.quottes-right{
				height: 50px;
				background: url("../images/content/quottes.png") center no-repeat;
				transform: rotate(180deg);
			}
		}
	}
.profile-2-cols-container-1{
	border-bottom: 1px dotted @color3;
	padding-bottom: 70px !important;
	margin-bottom: 50px !important;
	.field-label{
		color: @color3;
		font-size: @size2;
		font-weight: bold;
	}
	.field-item{
		
	}
}
.profile-4-cols-container-2{
	border-bottom: 1px dotted @color3;
	padding-bottom: 70px !important;
	margin-bottom: 50px !important;
	.profile-col-left-2, .profile-col-left-middle-2{
		margin-right: 60px;
		img{
			margin-left: 40px;
		}
		.panels-flexible-region-new-left_-inside{
			.pane-node-title-field{
				font-weight: bold;
				margin-bottom: 20px;
			}
		}
		
	}
	.profile-col-middle-right-2{
			.field-item.even{
				margin-bottom: 20px;
				a{
					font-weight: bold;
					font-style: italic;
				}
			}
	}
	
}
/*fin partners public profile*/

/*create event --> dentro de public profile*/
.page-node-add-events{
	.node-events-form{
		label{
			color: @color5;
			font-weight: bold;
			font-size: @size7;
		}
		input{
			height: 30px;
		}
		.form-wrapper{
			border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
			.panel-heading{
				display: none;
			}
			.date-float{
				display: none;
			}
			.panel-body{
				padding: 0px;
			}
			label[for="edit-field-start-date-und-0-value2"]{
				display: none;
			}
			.date-padding{
				padding: 0px;
				div[class="form-item-field-start-date-und-0-value-date"]{
					input{
						height: 50px;
						background: url("../images/content/input-calendar.png");
						&:after{
							content: " ";
							background: url("../images/content/input-calendar.png");
							height: 30px;
							width: 20px;
							background-color: red;
						}
					}
				}
				div[class*="-time"]{
					label{
						display: none;
					}
					input{
						margin-top: 30px;
					}
				}
			}
		}
	}
}
#edit-body{
	tr.mceFirst{
		display: none;
	}
	tr.mceLast{
		display: none;
	}
	.wysiwyg-toggle-wrapper{
		display: none;
	}
	.mceIframeContainer{
		border:1px solid @color2;
		padding-left: 10px;
		padding-right: 10px; 
	}
}
/*fin create event*/

/*Private area for partner*/
#private{
	.hwc-share-widget{
		display: none;
	}
	h1{
		font-weight: 100;
		font-style: italic;
		font-size: @size1;
		text-align: left;
		border-bottom: none;
		margin-top: 60px;
	}
	.pane-custom, p[id*="tmgmt"], ul{
		border-bottom: 1px dotted @color3;
		padding-bottom: 30px;
		margin-top: 30px;
		br{
			display:none; 
		}
		a{
			font-style: normal;
			font-weight: bold;
			font-size: @size7;
			color: @color2;
			margin-bottom: 20px;
			display: block;
			&:before{
				content: "> ";
			}
		}
	}
	#tmgmt-5{
		border: none;
		padding-bottom: 0px;
		span{
			font-style: normal;
			font-weight: bold;
			font-size: @size7 !important;
			display: block;
			
		}
	}
	#tmgmt-6{
		margin-top: 20px;
		list-style: none;
		padding: 0;
		padding-bottom: 30px;
	}
	.node-137{
		h1{
			text-align: center;
			font-weight: bold;
			font-style: normal;
			&:before{
				margin-bottom: 10px;
				content: url("../images/content/contact.png");
				display: block;
			}
		}
		p{
			border: none;
			text-align: center;
			margin-top: 10px;
			a{
				color: @color2;
				font-weight: bold;
				font-style: italic;
				display: inline-block;
				font-size: @size4;
				margin-bottom: 0px;
				&:before{
					content: " ";
				}
			}
		}
	}
}
/*fin Private area for partner*/

/*campaign materials*/
.page-campaign-materials{
	.view-id-view_campaign_materials{
		.views-row{
			border-bottom: 1px dotted @color3;
			padding-bottom: 30px;
			margin-top: 30px;
			.views-field-field-image{
				min-height: 150px;
			    margin-right: 50px;
			}
			h3{
				font-weight: bold;
				margin-top: 0;
				display: inline-block;
				margin-bottom: 20px;
				a{
					font-size: @size2;
					font-weight: bold;
					&:before{
						content: "> "; 
					}
				}
			}
			.materials_date{
				margin-left: 20px;
			}
			.views-field-body{
				margin-bottom: 20px;
				a{
					&:before{
						content:"";
					}
				}
			}
			.views-field-field-related-documents{
				.file_size{
					float: left;
				    margin-top: 0px;
				    margin-right: 56px;
				    color: @colorNormalText;
					font-style: normal;
				}
				span{
					float: initial;
					font-weight: bold;
					font-size: @size6;
					color: @color2;
					font-style: italic;
				}
				.glyphicon{
					display: none;
				}
				a{
					position: absolute;
					margin-left: 10px;
					&:after{
						content: url("../images/content/download.png");
					}
					img{
						display: none;
					}
				}
			}
		}
	}
}
/*fin campaign materials*/










/*classes toda la pantalla*/
#block-osha-newsletter-osha-newsletter-subscribe{
	margin-right: -15px;
	margin-left:  -15px;
}
#block-osha-newsletter-osha-newsletter-image{
	margin-right: -15px;
	margin-left:  -15px;
}
.alert.alert-block.alert-danger { //to do wendsday, solo para spring1
    display: none;
}

/* ----------END ENDIKA--------- */