// Insert your styling here.

header.navbar-default{
	border: none;
	background-color: @bg-default-color;
	border-radius: 0px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	
	/* header */

	.campaigns-header{
		padding: 0;
		.navbar-header{
			width: 100%;
			a.pull-left{
				border-right: 1px solid @border-header-color;
				padding-right: 2em;
				margin-right: 2em;
			}
			img:nth-child(1){
				margin-top: 5px;
				width: 150px;
				height: auto;
				margin-left: 30px;
			}
			a img.pull-left{
				width: 160px;
				height: auto;
				margin-top: 15px;
				margin-left: 0px;
			}
			img:nth-child(3){
				padding-top: 85px;
				padding-bottom: 15px;
				padding-right: 3em;
				border-right: 1px solid @border-header-color;
				width: 120px;
				height: auto;
			}
			
			.header-text{
				color: @text-color-2;
				font-size: 1.65em;
				font-weight: bold;
				width: 185px;
				padding-top: 1.8em;
				padding-left: 2em;
				float: left;
			}
			
			/* languages */
			#block-lang-dropdown-language{
				float: right;
			}
			#block-menu-menu-header-login ~ #block-lang-dropdown-language{
				float: right;
				position: absolute;
				bottom: -9px;
				right: 0;
				select{
					background-color: @input-language-default-bg;
					color: @input-language-default-color;
					border: none;
				}
			}

			#block-hwc-partner-hwc-partner-mostra-masquerade{
				float: right;
			    margin-top: 7px;
    			margin-bottom: 3px;
			}

			.lang-dropdown-select-element{
				float: right;
				box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
				border: none;
				ul.chosen-results{
					font-size: @input-language-default-size;
				}
				.chosen-single{
					border-radius: 0;
					background: none;
					box-shadow: 0 0 0px white inset, 0 0px 0px rgba(0, 0, 0, 0);
					background-color: @input-language-default-bg;
					border: none;
					color: @input-language-default-color;
					div{
						width: 20px;
						b{
							background: @input-language-default-color url('../images/header/select.png') no-repeat center center;
						}
					}
				}
			}
			.chosen-container-single.chosen-container{
				.chosen-drop {
				  border-radius: 0px;
				  border-color: @input-language-default-color;
				  background-color: @input-language-default-bg;
				  color: @input-language-default-color;
				  box-shadow: 0 0px 0px rgba(0, 0, 0, 0, 0);
				  margin-top: -3px;
				}
				.chosen-results {
					color: @input-language-default-color;
					li.highlighted {
					  background-color: #3875d7;
					  background-image: none;
					}
				}
				.chosen-search input[type="text"]{
					border-color: @input-language-default-color;
				}
				.chosen-single div b{
					background: @input-language-default-color url('../images/header/select.png') no-repeat center center !important;
				}
			}
			/* search */
			#block-search-form{
				clear:both;
				margin-bottom:15px;
				.input-group-btn{
				}
				button{
					color: @color0;
					width: 21px;
					width: 46px;
					margin-left: 0;
					margin-top: 0px;
					overflow: hidden;
					background: @color2 url('../images/header/search.png') no-repeat center;
					&:focus{
						outline: 0;
					}
				}
			}
		}
		.row:first-of-type{
			padding: 5px 20px 0px 15px;
		}
		
		/* login */
		#block-menu-menu-header-login{
			float: right;
		    margin-left: 0;
		    padding-top: 9px;
		    padding-right: 175px;
			a{
				background: @bg-color-2 url('../images/header/login.png') no-repeat left center;
				color: @color1;
				padding: 3px 10px 2px 25px;
				&.contextual-links-trigger{
					background-image: none;
					background-color: transparent; 
					padding:0;
				}
			}
		}
		/*back to private zone*/
		#block-block-1{
			position: absolute;
			right: 0;
			top: 116px;
			font-weight: bold;
			font-style: italic;
			a:before{
				content: ">";
				padding-right: 5px;
			}
		}
		 #block-hwc-partner-hwc-partner-back-to-profile{
			    font-weight: 700;
			    font-style: italic;
			    float: RIGHT;
			    font-size: .85em;
			    padding-top: 8px;
			    padding-right: 1em;
			a:before{
				content: ">";
				padding-right: 5px;
			}
		}
	}
	
	/* menu */
	.navbar-collapse{
		padding: 0;
		border: none;
		nav{
			margin: 10px 0 0;
			ul.menu{
				background-color: @menu-bg-color;
				width: 100%;
				text-transform: uppercase;
				li{
					color: @menu-color;
					width: 20%;
					a, > span{
						color: @menu-color;
						text-align: center;
						width: 100%;
						.caret{
							border-right: 1px solid white;
							border-top: none;
							border-left: none;
							float: right;
							width: 9px;
							height: 24px;
							margin-left: 2px;
							position: absolute;
						    top: 9px;
						    right: 0px;
						}
					}
					> span[role="button"]{
						cursor: auto;
					}
					&.last{
						.caret{
							display: none;
						}
					}
					.dropdown-toggle:hover{
						background-color: @menu-bg-color;
					}
					.dropdown-menu{
						padding: 0;
						min-width: 285px;
						box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
						border: none;
						background-color: @menu-bg-color;
						text-transform: initial;
						padding: 6px 10px 6px 0;
						border-radius: 0px;
						font-size:1em;
						li{
							width: 100%;
							padding: 6px 0;
							clear:both;
							a{
								text-align: left;
								display: inline;
								font-style: italic;
								padding:0;
								white-space: normal;
								&:hover{
									font-weight: bold;
									background-color: @menu-bg-color;
								}
							}
							&:before{
								content: ">";
								padding-left: 26px;
								padding-right: 5px;
								display: block;
							    float: left;
							    height: 22px;
							}
						}
					}
					.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
						.dropdown-menu > .active > span, .dropdown-menu > .active > span:hover, .dropdown-menu > .active > span:focus{
						background-color: @menu-bg-color;
					}
				}
				li.first{
				
				}
				li.last{
					.dropdown-menu{
						min-width: 100%;
						position: absolute;
    					right: 0px;
					}
				}
				li.active-trail{
					font-weight: bold;
					color: @menu-selected-color;
					a, > span{
						color: @menu-selected-color;
						background-color: @menu-bg-color;
					}
					ul li a, ul li span{
						color: white;
					}
					ul li.active-trail{
						color: white;
						a{
							font-weight: bold;
						}
					}
				}
			}
		}
	}
}
.region-above-header.region{
	float: right;
	width: auto;
	margin-bottom: 15px;
	section, > div {
		float: left;
		margin-right: -5px;
	}
	a#text_resize_increase, a#text_resize_decrease{
		background: none;
		text-indent: 0px;
		text-transform: lowercase;
		float: left;
		width: auto;
		sup{
			display: none;
		}
	}
	a#text_resize_increase{
		margin: 0px 0 0 5px;
		font-size: 1.7em;
	}
	a#text_resize_decrease{
	    margin: 10px 0 0 7px;
	}
	.printfriendly{
		background: url('../images/header/print.png') no-repeat center bottom;
		padding: 18px 18px 8px;
		img{
			display: none;
		}
	}
	.block-on-the-web{
		.otw-twitter{
			a{
			background: url('../images/header/twitter.png') no-repeat center bottom;
			padding: 18px 16px 8px;
			margin-left: 35px;
			}
		}
		.otw-facebook{
			a{
			background: url('../images/header/facebook.png') no-repeat center bottom;
			padding: 18px 16px 8px;
			}
		}
		.otw-youtube{
			a{
			background: url('../images/header/youtube.png') no-repeat center bottom;
			padding: 18px 16px 8px;
			}
		}
		.otw-flickr{
			a{
			background: url('../images/header/flickr.png') no-repeat center bottom;
			padding: 18px 16px 8px;
			}
		}
		.otw-linkedin{
			a{
			background: url('../images/header/linkedin.png') no-repeat center bottom;
			padding: 18px 0px 8px 32px;
			}
		}
		a{
			img{
				display: none;
			}
		}
	}
}
#views-exposed-form-search-site .form-type-textfield, #views-exposed-form-search-site input, #views-exposed-form-search-site button {
    background-image: none;
	&:focus{
		outline: 0;
	}
}


#masquerade-block-1 .btn-default.form-submit{
	margin-top:1em;
	margin-bottom: 0.7em;
}