// Insert your styling here.

header.navbar-default{
	border: none;
	background-color: @bg-default-color;
	border-radius: 0px;
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0;
	
	/* header */
	.navbar-header{
		width: 100%;
		a.pull-left{
			border-right: 1px solid @border-header-color;
			padding-right: 1em;
		}
		img.pull-left{
			padding-top: 55px;
		}
		img:nth-child(3){
			padding-top: 132px;
			padding-right: 1em;
			border-right: 1px solid @border-header-color;
		}
		/* img:nth-child(3):after{
			content: "";
			color: black;
		} */
		
		/* languages */
		.lang-dropdown-select-element{
			float: right;
			box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
			border: none;
			ul.chosen-results{
			font-size: @input-language-default-size;
			}
			.chosen-single{
				border-radius: 0;
				background: none;
				box-shadow: 0 0 0px white inset, 0 0px 0px rgba(0, 0, 0, 0);
				background-color: @input-language-default-bg;
				border: none;
				color: @input-language-default-color;
				div{
					width: 20px;
					b{
						background: @input-language-default-color url('../images/header/select.png') no-repeat center;
					}
				}
			}
		}
		.chosen-container-single.chosen-container{
			.chosen-drop {
			  border-radius: 0px;
			  border-color: @input-language-default-color;
			  background-color: @input-language-default-bg;
			  color: @input-language-default-color;
			  box-shadow: 0 0px 0px rgba(0, 0, 0, 0, 0);
			  margin-top: -3px;
			}
			.chosen-results {
				color: @input-language-default-color;
				li.highlighted {
				  background-color: #3875d7;
				  background-image: none;
				}
				li.active-result.result-selected{
				
				}
			}
			.chosen-search input[type="text"]{
				border-color: @input-language-default-color;
			}
		}
		/* search */
		#block-search-form{
			clear:both;
			.input-group-btn{
				float: left;
			}
			button{
				color: @color0;
				width: 21px;
				margin-left: 0;
				margin-top: 0px;
				background: @color2 url('../images/header/search.png') no-repeat center;
			}
		}
		
		/* slider */
		#homepage_slider{
			height: 321px !important;
			background-color: #749b00;
			#num_slides{
				margin: 0;
				padding: 0;
				width: 1296px !important;
				height: 230px;
				div{ /* .views-field.views-field-field-image */
					width: 1296px !important;
					&.views-field.views-field-body{
						height: 230px !important;
						div:empty{
							height: 230px !important;
						}
					}
					div{
						margin: 0;
						padding: 0;
						width: 1296px !important;
						a{
							margin: 0;
							padding: 0;
							height: 2.5em;
							width: 100%;
							float: left;
							color: @slider-color;
							&.more-link{
								width: auto;
								padding: 0.5em;
							}
							img{
								width: 100%;
							}
						}
						p{
							color: @slider-color;
							width: 85%;
							text-align: right;
							padding-right: 1%;
						}
					}
				}
			}
			.views-field-title {
				font-size: 2em;
				position: absolute;
				top: 20px;
				left: 20px;
				color: @slider-color;
				z-index: 2;
			}
		}
	}
	
	/* menu */
	.navbar-collapse{
		padding: 0;
		border: none;
		nav{
			margin: 20px 0 0;
			ul.menu{
				background-color: @menu-bg-color;
				width: 100%;
				text-transform: uppercase;
				li{
					color: @menu-color;
					width: 20%;
					a, > span{
						color: @menu-color;
						text-align: center;
						width: 100%;
						.caret{
							border-right: 1px solid white;
							border-top: none;
							border-left: none;
							float: right;
							width: 9px;
							height: 24px;
							margin-left: 2px;
						}
					}
					&.last{
						.caret{
							display: none;
						}
					}
					&.first{
						.dropdown-menu{
							min-width: 130%;
						}
					}
					&:nth-child(3), &:nth-child(4){
						.dropdown-menu{
							min-width: 110%;
						}
					}
					.dropdown-toggle:hover{
						background-color: @menu-bg-color;
					}
					.dropdown-menu{
						padding: 0;
						min-width: 100%;
						box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
						border: none;
						background-color: @menu-bg-color;
						text-transform: initial;
						padding: 6px 10px 6px 0;
						border-radius: 0px;
						
						li{
							width: 100%;
							padding: 6px 0;
							a{
								text-align: left;
								display: inline;
								font-style: italic;
								padding:0;
								&:hover{
									font-weight: bold;
									background-color: @menu-bg-color;
								}
							}
							&:before{
								content: ">";
								padding-left: 35px;
								padding-right: 5px;
							}
						}
					}
					.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus,
						.dropdown-menu > .active > span, .dropdown-menu > .active > span:hover, .dropdown-menu > .active > span:focus{
						background-color: @menu-bg-color;
					}
				}
				li.first{
				
				}
				li.last{
				
				}
				li.active-trail{
					font-weight: bold;
					color: @menu-selected-color;
					a, > span{
						color: @menu-selected-color;
						background-color: @menu-bg-color;
					}
					ul li a, ul li span, ul li.active-trail{
						color: white;
					}
				}
			}
		}
	}
}

/*----------Endika----------*/
header.navbar-default{
	.campaigns-header{
		padding: 0;
		.row:first-of-type{
			padding: 15px;
		}
	}
}
