//rewrite styles for responsive design

@media only screen and (max-width : 992px) {

/*Header*/
header{
	&.navbar-default {
		.campaigns-header {
			.row:first-of-type{
				padding-left: @margin-tablet;
				padding-right: @margin-tablet;
			}
			.navbar-header{
				.row{
					padding: 0px;
					img[alt="Home"]{
						margin-left: 0px;
					}
				}
				a.pull-left{
					padding-right: 1em;
					margin-right: 1em;
					img[alt="Home"]{
						width: 130px;
						height: 130px;
					}
				}
				img[alt="EU-OSHA logo"]{
					width: 150px;
					height: 140px;
					padding-top: 10px; 
				}
				img[alt="EU logo"]{
					width: 70px;
					height: 137px;
					padding-right: 1em !important;
				}
				.header-text{
				    font-size: @size7;
				    width: 120px;
				    padding-top: 3em;
				    padding-left: 0.8em;
				}
				.header_top_bar{
					.region-above-header{
						display: none;
					}
				}
				.region-header{
					#block-search-form{
						margin-top:2em;
						.input-group{
							width: inherit;
							input{
								width: 150px;
								float: right;
								padding: 0px 12px;
							}
						}
					}
					#block-menu-menu-header-login{
						float: right;
					    margin-left: 0px;
					    padding-top: 5px;
					    padding-right: 116px;
					    ul{
					    	li{
					    		a{
					    			min-width: 80px;
					    		}
					    	}
					    }
					}
					#block-lang-dropdown-language, #block-menu-menu-header-login ~ #block-lang-dropdown-language{
						float: none;
					    right: 0;
					    padding-right: 46px;
					    position: relative;
					}

				}
			}
		}
		
		.navbar-collapse nav ul.menu {
			li span.dropdown-toggle{
				padding-left: 5px;
				padding-right: 2px;
			}
			li a .caret, li span .caret{
				width: 2px;
				margin-left: 2px;
			}
			li.last.expanded.dropdown{
				> ul{
					margin-left: -4.5em;
				}
			}
		}
	}
}
/*fin header*/

/*footer*/
.footer {
	ul li a {
	    color: #ffffff;
	    padding-left: 0;
	    font-size: @size3;
	}
	h3{
		max-width: 75%;
		margin-right: 25%;
	}
}
/*fin footer*/

/*home*/
.front{
	//slider
	#block-views-frontpage-slider-block{
		margin-left: 0px;
    	margin-right: 0px;
	}
	#homepage_slider{
		margin-bottom: 0;
		img{
			right: -216px !important;
		}
	}
	//fin slider
	
	.tools-and-resources-block{
		width: 100%;
		text-align: left;
		padding-right: 30px;
		padding-left: 30px;
		margin-bottom: 0;
		.field-name-title-field{
			h1{
				margin: 20px 0;
			    padding-top: 15px;
			    padding-bottom: 15px;
			    
			    text-align: left;
			    padding-left: 78px;
			    background: url("../images/content/tools-and-resources.png") no-repeat;
			}
		}
		#block-menu-block-1{
			

			.menu{
				padding-bottom: 2em;
				border-bottom: 1px dotted @color3;
				li{
					display: inline-block;
					margin-right: 40px;
					width: 150px;
				}
			}
		}
	}
	#block-views-news-oshnews-latest, #block-views-frontpage-events-block{
		width: 50%;
		border-left: none;
	}

	#block-osha-newsletter-osha-newsletter-image {
	    margin-right: 0px;
	    margin-left: 0px;
	}
}

/*fin home*/

/*articles*/
.node-type-article article{
	margin-left: 0px;
	margin-right: 0px;
	.field-name-body{
		padding-right: 30px;
		padding-left: 30px;
	}
}
.field-name-field-recommended-articles, .field-name-field-recommended-resources{
	padding-right: 30px;
	padding-left: 30px;
}
/*fin articles*/

/*Practical tools*/
.page-practical-tools{
	.content p{
		display: none;
	}
}
.form-type-checkbox{
	float: left;
	width: 20%;
	label{
		white-space: nowrap;
		font-size: @size3;
		&:before{
			margin-right: 3px;
		}
	}
}
#edit-left-column{
	padding-right: 0px;
	padding-left: 0px;
}
.form-item-relevant-for, .form-item-languages{
	border-top: none;
	border-bottom: none;
	clear: both;
	/* margin-bottom: 2em; */
	> label{
		width: 100%;
		padding: 0.2em 2em 0.2em 1em;
		background: @bg-color-3 url("../images/content/slideDown.png") no-repeat 95% center;
		/* &:after{
			color: @text-color-2;
			content: "\e258";
			font-family: 'Glyphicons Halflings';
			float: right;
		} */
		&.closeLabel{
			margin-bottom: 0;
			background-image: url("../images/content/slideUp.png");
			/* &:after{
				content: "\e259";
			} */
		}
	}

		 #edit-relevant-for, #edit-languages{
			margin-left: 15px;
			margin-right: 15px;
		}
	}
	#edit-content {
		padding-left: 0px;
		padding-right: 0px;
		#search div{
			margin-left: 15px;
		}
	}
	.pane-hwc-practical-tool-hwc-practical-tool-listing h4, div.panel-pane div.node.node-practical-tool{
		padding-left: 15px;
		padding-right: 15px;
	}
	.node-type-practical-tool{
		.pane-node-field-available-languages{
			clear: both;
		}
		.panel-1col .panel-col .panel-pane {
			padding-left: 15px;
			padding-right: 15px;
		}
		.pane-node-field-free, .pane-node-field-country, .pane-node-field-tool-type{
			margin-left: 15px;
			margin-right: 0.5em;
		}
	}
/*FIN Practical tools*/
	
/* Article */
.node-article{
	.field-name-field-image + .field-name-title-field{
		height: 300px;
		h1{
			padding-top: 190px;
		}
	}
	.field.field-name-field-image{
		height: 300px;
		img{
			height: 300px;
			min-height: 300px;
		}
	}
	.hwc-share-widget{
		padding-left: 30px;
		padding-right: 30px;
	}
	.field-name-field-recommended-articles, .field-name-field-recommended-resources{
		.field.field-name-field-image img{
			height: auto;
		}
	}
}
/*fin article*/

/*events*/
.node-events{
	.field-name-field-speaker{
		> .field-items > .field-item{
			width: 25%;
		}
	}
}
/*fin events*/

/*Press room*/
.view-press-releases {
	.views-row {
	    padding: 0.5em 30px 2em 30px;
	}
}
#mini-panel-press_room_blocks {
    padding: 5px 30px;
}
//detail
.node-type-press-release{
	.title-alt{
		.form-item{
			padding-right: 15px;
			padding-left: 15px;
		}
	}
	#block-system-main{
		.node-press-release{
			padding-right: 30px;
			padding-left: 30px;
			iframe{
				width: 60%;
				margin-bottom: 30px; 
			}
		}
	}
	#mini-panel-press_room_blocks{
		border: none;
		.pane-osha-press-release-osha-press-kit{
    		display: block;
    		border-top: none;
    	}
	}
}
/*end press room*/

/*news*/
.view-news{
	.views-row{
		padding-left: 15px;
    	padding-right: 15px;
	}
}
//detail
.node-type-news{
	.node-news {
	    padding-left: 30px;
	    padding-right: 30px;
	}
}
/*end news*/

/*infographics*/
.view-infographic{
	.views-row {
		padding-right: 30px;
		padding-left: 30px;
	}
}
/*end infographics*/

/*videos*/
.page-node-108{
	iframe{
		display: block;
		margin: 0 auto;
	}
}
/*fin videos*/

/*case studies*/
.section-introduction{
	.field-type-text-with-summary{
		display: none;
	}
}
/* .page-case-studies{
	.form-type-checkbox{
		width: 25%;
		float: left;
		label{
		    white-space: nowrap;
			font-size: 12px;
		}
	}
	#edit-left-column{
		padding-right: 0px;
		padding-left: 0px;
	}
} */
/*fin case studies*/

/*pag Become a media partner*/
.become-partner{
	.partners{
		margin-right: -30px;
		margin-left: -30px;
	}
}
/*fin become a media partner*/

/*pag publications*/
#publications_slideshow{
	display: none;
}
.page-publications h4, .publication-item{
    padding-left: 15px;
    padding-right: 15px;
	min-height: 0;
	margin-bottom: 0;
}
.node-type-publication{
	.pane-node-title-field, .pane-node-field-publication-date, .pane-node-field-publication-type{
		margin-left: 15px;
		margin-right: 15px;
	}
	.pane-node-field-cover-image{
		display: none;
	}
	.panels-flexible-row-container-main-row{
		margin-top: 1em;
	}
	.field-name-field-related-publications, .field-type-entityreference{
		> .field-label, li{
			padding-right: 15px;
			padding-left: 15px;
			li{
				padding-right: 0px;
				padding-left: 0px;
			}
		}
	}
}
/*Fin pag publications*/

/* pag Search */
.page-search{
	.region-sidebar-first{
		border: none;
		h2{
		    padding: 0.5em 2em 0.5em 15px;
			background: #e2e2e3 url("../images/content/slideDown.png") no-repeat 95% center;
		}
		.facetapi-facetapi-checkbox-links{
			padding-left: 15px;
			li{
				float: left;
				width: 20%;
				white-space: nowrap;
				input[type="checkbox"]{
					margin-right: 0.1em;
				}
			}
		}
	}
	#views-exposed-form-search-site{
		padding-left: 15px;
		padding-right: 15px;
	}
	.region.region-content{
		float: left;
		width: 100%;
		margin-left: 0;
		.view-search .view-content .views-row{
			padding-left: 15px;
			padding-right: 15px;
		}
		.result_summary{
			padding-left: 15px;
		}
	}
}

#ui-theme-basic-green.ui-menu{
	width: 200px;
	min-width: 200px;
	left: 0;
}
/*Fin pag Search */

/*Private area*/
.private-area{
	#private{
		.section-introduction{
			.field-label-hidden{
				display: block;
			}
		}
		.pane-custom, p[id*="tmgmt"], ul{
			padding-left: 30px !important;
			padding-right: 30px !important;
		}
		h2{
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}
/*fin private area*/

/*pag National focal points*/
/* .page-national-focal-points, .page-official-campaign-partners, .page-campaign-media-partners */
.page-national-focal-points, .page-official-campaign-partners, .page-campaign-media-partners{
	.section-introduction .field-type-text-with-summary {
		display: block;
	}
}
/*Fin pag National focal points*/

/*partner profile*/
.profile-edit-links-container{
	padding-right: 30px;
	padding-left: 30px;
	.col-sm-3{
		width: 100%;
	}
	.pane-node-profile-update-link{
		a{
			font-size: @size8;
		}
	}
	.pane-hwc-partner-hwc-partner-private-link-0, .pane-hwc-partner-hwc-partner-private-link-1,
	.pane-hwc-partner-hwc-partner-private-link-2, .pane-node-profile-update-link{
		
		.pane-content{
			min-height: 120px;
			max-height: 120px;
			text-align: left;
			padding: 40px 20px !important;
			margin-left: 0px !important;
			margin-right: 0px !important;
			
			.hwc-partner-private-link-block-title{
				float: left;
				min-width: 35%;
				a{
					font-size: @size8;
				}
			}
		}
	}
}
.profile-ceo-container{
	margin-left: 0px !important;
	margin-right: 0px !important;
	.pane-node-field-quote{
		padding-left: 30px;
		padding-right: 30px;
		&:before{
			margin-left: 0px;
		}
		&:after{
			margin-right: 30px;
		}
	}
}

.profile-2-cols-container-1{
	padding-bottom: 30px !important;
	margin-bottom: 30px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
	.col-sm-6{
		width: 100%;
	}
	.field-item{
		margin-bottom: 20px;
	}
}

.profile-4-cols-container-2{
	border-bottom: 1px dotted @color3;
	padding-bottom: 50px !important;
	margin-bottom: 50px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;	
}
/*fin partner profile*/

/*clases para toda la web*/
.container{
	width: 100%;
	padding-left: 0px;
    padding-right: 0px;
}
.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}
.section-introduction{
	.field-type-text-with-summary{
		padding-right: 30px;
		padding-left: 30px;
	}
}
.breadcrumb{
	padding-right: 30px;
	padding-left: 30px;
}
h1{
	padding-right: 15px;
	padding-left: 15px;
}
.back-to-link {
	padding-right: 40px;
	padding-left: 30px;
}


}//end media