//rewrite styles for responsive design

@media only screen and (max-width : 480px) {

/*Header*/

header{
	&.navbar-default {
		.campaigns-header {
			.navbar-header{
				.row{
					padding: 0px;
				}
				a.pull-left{
					padding-right: .5em;
					margin-right: .5em;
					img{
						margin-left: 15px;
						width: 95px;
					}
				}
				a img.pull-left{
					width: 125px;
					margin-top: 0px; 
				}
				img:nth-child(3){
					width: 40px;
				    padding: 63px 0 0;
				}
				
				.header-text{
				    font-size: @size7;
				    width: 120px;
				    padding-top: 3em;
				    padding-left: 0.8em;
				}
				.header_top_bar{
					.region-above-header{
						display: none;
					}
				}
				.region-header{
					#block-search-form{
						margin-top:0.5em;
						.input-group{
							width: inherit;
							input{
								width: 150px;
								float: right;
								height: 25px;
							}
							button{
								height: 25px;
							}
						}
					}
				}
			}
		}
	}
}
.xs-menu{
    margin-top: 1em;
	#block-search-form{
		display:block;
		float: left;
		padding-left: 0;
		margin-left: 0;
		width: 180px;
	}
	#block-menu-menu-header-login{
		display:block;
		clear: both;
	}
}
/*FIN header*/
.front{
	//slider
	#block-views-frontpage-slider-block{
		margin-left: 0px;
		margin-right: 0px;
		img{
			right: -1221px !important;
			transform: scale(1.5) !important;
    		-webkit-transform: scale(1.5) !important;
    		-moz-transform: scale(1.5) !important;
		}
	}
}

/*container*/
	
	/*home*/
	/*FIN home*/

	/* Article */
	.node-article{
		/* height: 145px; */
	}
	/*FIN Article */

/*news*/
//detail
.node-type-news{
	.field-type-image {
		img {
	    	padding: 0 3em;
		}
	}
}
/*end news*/

/*create events & news*/
.page-node-add-events, .page-node-add-news{
	.node-events-form, .node-news-form{
		.field-name-field-related-documents{
			.form-file{
				max-width: 200px !important;
			}
		}
	}
}
/*fin create events & news*/
	



.hwc-share-widget{
	ul{
		.share-this-article{
			top: -5px;
		}

		li[id*="facebook-share-button-"]{
		    display: block; 
		}
		li[id*="facebook-like-button-"]{
		    display: block; 
		}
		li[id*="twitter-share-button-"]{	
		   display: block; 
		   margin-top: 5px;
		}
		li[id*="linked-in-"]{
		  display: block; 
		  margin-top: 5px;
		}
		li[class="pull-right"]{
		   display: block;
		   margin-top:-25px;
		}
		.label.label-rss.pull-right{
			display: block;
			margin-left: -34px;
    		margin-top: -2px !important;
		}
	}
}


/*Focal points*/

.view-display-id-fop img{
	width: 78px;
	height:auto;
}
/*FIn container*/


/*Oficial campaigns partners*/

.view-id-partners_list .quicktabs-views-group{
	float:none;
}

/* Videos */

.video-iframe{
	width:320px!important;
	height:210px!important;
}


/* Media partners */

.view-id-partners_list .quicktabs-views-group, .view-id-partners_list .views-row{
	float:none;
	width: 100%;
	border-right: 1px dotted #749b00;
}


header.navbar-default .campaigns-header .navbar-header .region-header #block-lang-dropdown-language, header.navbar-default .campaigns-header .navbar-header .region-header #block-menu-menu-header-login ~ #block-lang-dropdown-language{
	position:relative;
	bottom: -2px;
}

.node-type-article .hwc-share-widget {
	li{
		display: inline-block!important;
	}

	.share-this-article{
		display: block;
		width: 100%;
	}
}

}



