//rewrite styles for responsive design

@media only screen and (max-width : 767px) {
	/* Article */
	.node-article{
		.field-name-field-image + .field-name-title-field{
			height: 230px;
			h1{
				padding-top: 110px;
			}
		}
		.field.field-name-field-image{
			img{
				height: 230px;
			}
		}
	}
}