//rewrite styles for responsive design

@media only screen and (max-width : 480px) {

	/* Article */
	.node-article{
		.field-name-field-image + .field-name-title-field{
			height: 145px;
			h1{
				padding-top: 60px;
			}
		}
		.field.field-name-field-image{
			img{
				height: 145px;
			}
		}
	}
}