{if $progressbar} {$progressbar} {/if}
<div id="content">
    {if $sidebar} {$sidebar} {/if}
    <div id="form" class="main-form sidebar-border">
        <form class="form-horizontal" method="post" action="{$appurl}&action=send">
            <fieldset>
                <legend id="ORGANISATION">About your organisation</legend>
                <div class="float-left">
                    <!-- Form Name -->

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="org_name">
                            Company/Organisation name
                        </label>

                        <div class="controls">
                            <input {$disabled} id="org_name" name="org_name" placeholder="What is your organisation name" type="text" value="{if !empty($attributes.org_name)} {$attributes.org_name} {/if}" data-section="ORGANISATION">
                        </div>
                    </div>

                    <!-- Select Multiple -->
                    <div class="control-group">
                        <label class="control-label" for="org_countries">Countries of Activity</label>

                        <p class="help-block">Please select at least three european countries where your company is active.
                            If your company is active on other countries as well, please indicate them by writing them in the field.</p>

                        <div class="controls">
                            <select {$disabled} id="org_countries" name="org_countries" multiple="multiple" data-section="ORGANISATION">
                                {foreach from=$attributes.org_countries key=countryKey item=country}
                                {if $selectedValues.org_countries == $country}
                                <option value="{$countryKey}" selected="selected">{$country}</option>
                                {else}
                                <option value="{$countryKey}">{$country}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="control-group">
                        <label class="control-label" for="org_photo">Upload your company logo</label>
                        {if !empty($attributes.logo.mime) && !empty($attributes.logo.content)}
                        <div class="clear"><img src="data:{$attributes.logo.mime};base64,{$attributes.logo.content}"/></div>
                        {/if}
                        <p class="help-block">Please upload your company logo in .png or .jpg file format.
                            The file size must not exceed than 1MB</p>

                        <div class="controls">
                            <input {$disabled} id="org_photo" name="org_photo" type="file" data-section="ORGANISATION">
                        </div>
                    </div>
                </div>
                <div class="float-right">
                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label" for="org_type">Organisation Type</label>

                        <div class="controls">
                            <select {$disabled} id="org_type" name="org_type" data-section="ORGANISATION">
                                {foreach from=$attributes.org_type key=organisationID item=organisationType}
                                {if $selectedValues.osh_orgtype == $organisationType}
                                <option value="{$organisationID}" selected="selected">{$organisationType}</option>
                                {else}
                                <option value="{$organisationID}">{$organisationType}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </div>
                    </div>
                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label" for="osh_bussinessector">Business Sector</label>

                        <div class="controls">
                            <select {$disabled} id="osh_bussinessector" name="osh_bussinessector" data-section="ORGANISATION">
                                <option selected="selected">Select business sector</option>

                                {foreach from=$attributes.org_sector key=businessSectorID item=businessSector}
                                <option value="{$businessSectorID}">{$businessSector}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>

                    <!-- Multiple Radios (inline) -->
                    <div class="control-group">
                        <label class="control-label" for="org_dialog">Social Dialogue Partner</label>

                        <p class="help-block">Would you like to be a social dialogue partner?</p>

                        <div class="controls">
                            <label class="radio inline" for="dialog-0">
                                <input {$disabled} name="org_dialog" id="dialog-0" value="Yes" type="radio" {if $attributes.org_dialog}checked="true" {/if} data-section="ORGANISATION">
                                Yes
                            </label>
                            <label class="radio inline" for="dialog-1">
                                <input {$disabled} name="org_dialog" id="dialog-1" value="No" type="radio" {if !$attributes.org_dialog}checked="true" {/if} data-section="ORGANISATION">
                                No
                            </label>
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                        <label class="control-label" for="osh_yourmissionstatement">Your Mission Statement</label>

                        <div class="controls">
                            <textarea {$disabled} id="osh_yourmissionstatement" name="osh_yourmissionstatement" placeholder="Please write your mission statement" data-section="ORGANISATION">{if !empty($attributes.osh_yourmissionstatement)}{$attributes.osh_yourmissionstatement}{/if}</textarea>
                        </div>
                    </div>

                    <!-- Select Multiple -->
                    <!--
                    <div class="control-group">
                        <label class="control-label" for="org_pub_type">Type of Publications</label>
                        <div class="controls">
                            <select id="org_pub_type" name="org_pub_type" multiple="multiple" data-section="ORGANISATION">
                                <option selected="selected">Select publication type</option>
                                {foreach from=$attributes.org_pub_type key=publicationID item=publicationType}
                                <option value="{$publicationID}">{$publicationType}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
    -->
                    <!-- Select Multiple -->
                    <!--
                    <div class="control-group">
                        <label class="control-label" for="org_readership">Readership</label>
                        <div class="controls">
                            <select id="org_readership" name="org_readership" multiple="multiple" data-section="ORGANISATION">
                                <option selected="selected">Select Readership</option>
                                {foreach from=$attributes.org_readership key=readershipID item=readership}
                                <option value="{$readershipID}">{$readership}</option>
                                {/foreach}
                            </select>
                        </div>
                    </div>
    -->
                </div>
            </fieldset>
            <fieldset>
                <!-- Form Name -->
                <legend id="GENERAL_INFORMATION">General Contact Information</legend>
                <div class="float-left">

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_address"></label>

                        <div class="controls">
                            <input {$disabled} id="osh_address" name="osh_address" placeholder="Address field 1" type="text" data-section="GENERAL_INFORMATION" value="{if !empty($attributes.osh_address)} {$attributes.osh_address} {/if}">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_addressextra"></label>

                        <div class="controls">
                            <input {$disabled} id="osh_addressextra" name="osh_addressextra" placeholder="Address field 2" type="text" data-section="GENERAL_INFORMATION" value="{if !empty($attributes.osh_addressextra)} {$attributes.osh_addressextra} {/if}">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_city"></label>

                        <div class="controls">
                            <input {$disabled} id="osh_city" name="osh_city" placeholder="City" type="text" data-section="GENERAL_INFORMATION" value="{if !empty($attributes.osh_city)}{$attributes.osh_city} {/if}">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_zipcode"></label>

                        <div class="controls">
                            <input {$disabled} id="osh_zipcode" name="osh_zipcode" placeholder="Zip Code" type="text" data-section="GENERAL_INFORMATION" value="{if !empty($attributes.osh_zipcode)}{$attributes.osh_zipcode} {/if}">
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="control-group">
                        <label class="control-label" for="osh_country"></label>

                        <div class="controls">
                            {foreach from=$attributes.osh_country key=countryID item=countryName}
                            {$countryID} ==> {$countryName}
                            {/foreach}
                            <select {$disabled} id="osh_country" name="osh_country" data-section="GENERAL_INFORMATION">
                                <option selected="selected">Select a country</option>
                                {foreach from=$attributes.osh_country key=countryID item=countryName}
                                {if $selectedValues.osh_country == $countryName}
                                <option value="{$countryID}" selected="selected">{$countryName}</option>
                                {else}
                                <option value="{$countryID}">{$countryName}</option>
                                {/if}
                                {/foreach}
                            </select>
                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_generalemail"></label>

                        <div class="controls">
                            <input {$disabled} id="osh_generalemail" name="osh_generalemail" type="text" placeholder="General Email Address" data-section="GENERAL_INFORMATION" value="{if !empty($attributes.osh_generalemail)}{$attributes.osh_generalemail} {/if}">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_generalphone"></label>

                        <div class="controls">
                            <input {$disabled} id="osh_generalphone" name="osh_generalphone" placeholder="General Telephone Number" type="text" data-section="GENERAL_INFORMATION" value="{if !empty($attributes.osh_generalphone)}{$attributes.osh_generalphone} {/if}">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="float-left">
                    <!-- Form Name -->
                    <legend id="CEO">Information about your CEO</legend>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_ceo">Your CEO</label>

                        <div class="controls">
                            <input {$disabled} id="osh_ceo" name="osh_ceo" placeholder="The name of your CEO" type="text" data-section="CEO" value="{if !empty($attributes.osh_ceo)}{$attributes.osh_ceo}{/if}">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="ceo_position">What's your CEO's exact position name</label>

                        <div class="controls">
                            <input {$disabled} id="ceo_position" name="ceo_position" placeholder="Exact CEO position name" type="text" data-section="CEO">
                        </div>
                    </div>

                    <!-- Textarea -->
                    <div class="control-group">
                        <label class="control-label" for="ceo_quote">What would you like to quote on the HWC site</label>

                        <div class="controls">
                            <textarea {$disabled} id="ceo_quote" name="ceo_quote" placeholder="The quote by your CEO that will appear on the HWC website" data-section="CEO"></textarea>
                        </div>
                    </div>

                    <!-- File Button -->
                    <div class="control-group">
                        <label class="control-label" for="ceo_photo">CEO Photograph</label>
                        {if !empty($attributes.ceo_photo.mime) && !empty($attributes.ceo_photo.content)}
                        <div class="clear"><img src="data:{$attributes.ceo_photo.mime};base64,{$attributes.ceo_photo.content}"/></div>
                        {/if}
                        <p class="help-block">Please provide us a portrait photograph of your CEO in .png or .jpg file format.
                            The file size must not exceed than 3MB</p>

                        <div class="controls">
                            <input {$disabled} id="ceo_photo" name="ceo_photo" type="file" data-section="CEO">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="float-left">
                    <!-- Form Name -->
                    <legend id="OSH">Your OSH representative</legend>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_name">Your OSH representative</label>

                        <div class="controls">
                            <input {$disabled} id="osh_name" name="osh_name" placeholder="What is the name of your OSH representative?" type="text" data-section="OSH">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_emailrepresentative">OSH representative's email contact</label>

                        <div class="controls">
                            <input {$disabled} id="osh_emailrepresentative" name="osh_emailrepresentative" placeholder="Please indicate the email of your representative" type="text" data-section="OSH" value="{if !empty($attributes.osh_emailrepresentative)} {$attributes.osh_emailrepresentative} {/if}">
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="control-group">
                        <label class="control-label" for="osh_phonerepresentative">Your OSH representative's telephone number</label>

                        <div class="controls">
                            <input {$disabled} id="osh_phonerepresentative" name="osh_phonerepresentative" placeholder="Please indicate the telephone of your representative" type="text" data-section="OSH" value="{if !empty($attributes.osh_phonerepresentative)} {$attributes.osh_phonerepresentative} {/if}">

                        </div>
                    </div>
                </div>
            </fieldset>
            <!-- Button -->
            <div class="control-group">
                <label class="control-label" for="next"></label>

                <div class="controls">
                    <button id="save" name="save" data-section="OSH">Save</button>
                    <input id="next" name="next" value="Next - Tell us about your campaign involvement" type="submit" data-section="OSH"/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clear"></div>