<div id="content">
    <div id="form" class="main-form">
        <form class="form-horizontal" method="post" action="{$appurl}&action=send">
            <fieldset>

                <!-- Form Name -->

                <p class="thank-you">Thank you for submitting your registration!</p>

                <p class="congrats">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi tellus elit, sollicitudin eget lacus vitae, sodales semper enim.
                    Duis accumsan nisl quis convallis aliquam. Aliquam vel mi ultrices, consequat est a, vulputate justo.
                    Aliquam dignissim porttitor est, in ullamcorper mauris molestie non. Morbi vel scelerisque nisl.
                    Sed ut hendrerit massa, id aliquam eros. Donec nec lectus a ex rutrum pharetra et at sem.
                    Quisque tempus lobortis tristique. Praesent turpis magna, rutrum vel finibus ac, maximus nec ante.
                    Praesent vel fringilla velit. Donec eu elit sed leo luctus vulputate eget in turpis.
                    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>

                <!-- Button (Double) -->
                <div class="control-group">
                    <label class="control-label" for="to_home"></label>

                    <div class="controls">
                        <button id="to_home" name="to_home" class="btn btn-success">Back to homepage</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="clear"></div>