{if $progressbar} {$progressbar} {/if}
<div id="content">
    {if $sidebar} {$sidebar} {/if}
    <div id="form" class="main-form sidebar-border">
        <form class="form-horizontal" method="post" action="{$appurl}&action=send">
            <fieldset>

                <!-- Form Name -->
                <legend id="PRIMARY_CONTACT">Your Primary Contact</legend>
                <p class="help-block">Who will be the person responsible for handling the campaign cooperation?</p>
                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="osh_maincontactperson">Primary contact name</label>
                    <div class="controls">
                        <input {$disabled} id="osh_maincontactperson" name="osh_maincontactperson" placeholder="Please give us the full name of the responsible person" type="text" DATA-SECTION="PRIMARY_CONTACT" value="{if !empty($attributes.osh_maincontactperson)} {$attributes.osh_maincontactperson} {/if}">
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="osh_mainphone">Primary contact's telephone number</label>
                    <div class="controls">
                        <input {$disabled} id="osh_mainphone" name="osh_mainphone" placeholder="Primary contact's phone number including country code" type="text" DATA-SECTION="PRIMARY_CONTACT" value="{if !empty($attributes.osh_mainphone)} {$attributes.osh_mainphone} {/if}">
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="osh_mainemail">Primary contact's email address</label>
                    <div class="controls">
                        <input {$disabled} id="osh_mainemail" name="osh_mainemail" placeholder="Primary contact's email" type="text" data-section="PRIMARY_CONTACT" value="{if !empty($attributes.osh_mainemail)} {$attributes.osh_mainemail} {/if}">
                    </div>
                </div>

                <!-- Text input-->
                <!--
                <div class="control-group">
                    <label class="control-label" for="confirm_email">Confirm primary contact's email address</label>
                    <div class="controls">
                        <input id="confirm_email" name="confirm_email" placeholder="Confirm primary contact's email address" class="input-large" type="text">

                    </div>
                </div>
-->

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="job_title">Primary contact's full job title</label>
                    <div class="controls">
                        <input {$disabled} id="job_title" name="job_title" placeholder="The full job title of the responsible person" type="text" data-section="PRIMARY_CONTACT">
                    </div>
                </div>

                {if empty ($session_id)}
                <!-- Captcha -->
                <div class="control-group captcha">
                    <label class="control-label" for="captcha"></label>
                    <div class="controls">
                        <img id="captcha" src="lib/securimage/securimage_show.php" alt="CAPTCHA Image"/>
                        <p class="help-block">Please copy the characters from the image into the field below</p>
                        <input {$disabled} type="text" name="captcha_code" size="10" maxlength="6"/>
                        <a href="#" onclick="document.getElementById('captcha').src = 'lib/securimage/securimage_show.php?' + Math.random(); return false">Refresh</a>
                    </div>

                </div>
                {/if}


            </fieldset>

            {if $mf}
            <fieldset id="osh_otheruser" class="repeatable-section">

                <!-- Form Name -->
                <legend id="OTHER_USERS">Other users</legend>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="osh_otheruser_name">Name of the user</label>
                    <div class="controls">
                        <input {$disabled} id="osh_otheruser_name" name="osh_otheruser_name" placeholder="Please indicate the name of the user" type="text" data-section="OTHER_USERS">

                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="osh_otheruser_email">Email address if the user</label>
                    <div class="controls">
                        <input {$disabled} id="osh_otheruser_email" name="osh_otheruser_email" placeholder="Please indicate the email of the user" type="text" data-section="OTHER_USERS">
                    </div>
                </div>

                <!-- Text input-->
                <div class="control-group">
                    <label class="control-label" for="osh_otheruser_phone">Telephone of the user</label>
                    <div class="controls">
                        <input {$disabled} id="osh_otheruser_phone" name="osh_otheruser_phone" placeholder="Please indicate the telephone of the user" type="text" data-section="OTHER_USERS">

                    </div>
                </div>

                <a class="add_user" href="#">Add user</a>
            </fieldset>
            {/if}

            <!-- Button (Double) -->
            <div class="control-group">
                <label class="control-label" for="finish"></label>
                <div class="controls">
                    <button id="save" name="save">Save</button>
                    <input id="finish" name="finish" value="Submit your updated information" type="submit" data-section="PRIMARY_CONTACT"/>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clear"></div>