<div id="progressbar" class="center">
    <div class="row">
        <div class="col-md-4 progressbar-text">1. About your Organisation</div>
        <div class="col-md-4 progressbar-text">2. About your Involvement</div>
        <div class="col-md-4 progressbar-text">3. About your Contact</div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="progress col-md-10">
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width: {$percentage}%">
                {$percentage}% Completed
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>