<div id="sidebar">
    {foreach from=$sections key=sectionKey item=section}
    <div class="section {$sectionKey}"><a href="#{$sectionKey}">{$section}</a></div>
    {/foreach}
    {if !empty($session_id)}
    <div class="alert error-msg">Please make sure you thoroughly check, whether all your information is still valid and indicate this by checking the button next to the appropiate fields</div>
    {/if}
    <div class="export-pdf"><a href="{$appurl}&action=pdf">Export to PDF</a></div>
    <div class="export-pdf"><a href="{$appurl}&action=print" target="_blank">Printable version</a></div>
</div>