<fieldset>
    <legend id="PRIMARY_CONTACT">
        Your Primary Contact
        <div data-section="PRIMARY_CONTACT" class="validation"></div>
    </legend>
    <div class="float-left">
    {$attributes.contact_osh_maincontactpersonfirstname}
    {$attributes.contact_osh_maincontactpersonlastname}
    {$attributes.contact_osh_positionmaincontactperson}
    </div>
    <div class="float-right">
    {$attributes.contact_osh_mainphone}
    {$attributes.contact_osh_mainemail}
    </div>
</fieldset>