<div class="checkbox mainContactCheck">
   <!-- <input {$disabled} type="checkbox" name="{$fieldName}" id="{$fieldName}" data-section="{$fieldSection}" class="main-contact-change-checkbox" /> -->
    <label>{$fieldLabel}</label>
    {if !empty($fieldHelpText)}
    <p class="help-block">For change of contact person, please, activate the <input {$disabled} type="checkbox" name="{$fieldName}" id="{$fieldName}" data-section="{$fieldSection}" class="main-contact-change-checkbox" /> box and provide the new contact details.</br>For typo mistakes in the contacts related fields, correct directly the text in the fields.</p>
    {/if}
</div>
