<div class="control-group {$required}">
    <div>
        <label class="control-label screen-left" for="{$fieldName}">{$fieldLabel}</label>
        {if !empty($fieldPublicProfile)}<img src="{$appurl}mvc/view/img/screen.png" title="Fields displayed on campaign site" class="screen-right"/>{/if}
    </div>
    {if !empty($fieldHelpText)}
    <p class="help-block">{$fieldHelpText}</p>
    {/if}
    <!-- <div class="controls"> -->
        <label class="radio inline" for="{$fieldName}">
            <input {$disabled} class="field" name="{$fieldName}" id="{$fieldName}-yes" value="Yes" type="radio" {if $fieldValue && $fieldValue != 'No'}checked="true" {/if} data-section="{$fieldSection}">
            Yes
        </label>
        <label class="radio inline" for="{$fieldName}">
            <input {$disabled} class="field" name="{$fieldName}" id="{$fieldName}-no" value="No" type="radio" {if !$fieldValue || $fieldValue == 'No'}checked="true" {/if} data-section="{$fieldSection}">
            No
        </label>
    <!-- </div> -->
</div>