<label class="control-label" for="{$fieldName}">{$fieldLabel}</label>
<div class="control-group">
    <p class="help-block">{$fieldHelpText}</p>
    <div class="imageBox" id="{$fieldName}_imageBox">
        <div class="thumbBox" id="{$fieldName}_thumbBox"></div>
        <div class="spinner" id="{$fieldName}_spinner" style="display: none">Loading...</div>
    </div>
    <div class="action">
        <input {$disabled} id="{$fieldName}" name="{$fieldName}" type="hidden">
        <input {$disabled} type="button" id="{$fieldName}_btnCrop" value="Crop" style="float: right" data-section="{$fieldSection}">
        <input {$disabled} type="button" id="{$fieldName}_btnZoomIn" value="+" style="float: right" data-section="{$fieldSection}">
        <input {$disabled} type="button" id="{$fieldName}_btnZoomOut" value="-" style="float: right" data-section="{$fieldSection}">
        <input {$disabled} id="{$fieldName}_file" name="{$fieldName}_file" type="file" data-section="{$fieldSection}"><br/>
    </div>
</div>
<script type="text/javascript" nonce="{$nonce}">
    $(window).load(function () {
        var options =
        {
            thumbBox: '#{$fieldName}_thumbBox',
            spinner: '#{$fieldName}_spinner',
            imgSrc: 'mvc/view/img/avatar.jpg'
        };
        var cropper = $('#{$fieldName}_imageBox').cropbox(options);
        $('#{$fieldName}_file').on('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                options.imgSrc = e.target.result;
                cropper = $('#{$fieldName}_imageBox').cropbox(options);
            };
            if ($('#{$fieldName}_thumbBox').find('img')) {
                $('#{$fieldName}_thumbBox > img').remove();
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        });
        $('#{$fieldName}_btnCrop').on('click', function () {
            var img = cropper.getDataURL();
            if ($('#{$fieldName}_thumbBox').find('img')) {
                $('#{$fieldName}_thumbBox > img').remove();
                $('#{$fieldName}_imageBox').css("background-image", "");
            }
            $('#{$fieldName}_thumbBox').append('<img src="' + img + '">');
            $('#{$fieldName}').attr('value', img);
        });
        $('#{$fieldName}_btnZoomIn').on('click', function () {
            cropper.zoomIn();
        });
        $('#{$fieldName}_btnZoomOut').on('click', function () {
            cropper.zoomOut();
        })
    });
</script>