<div class="control-group {$required}">
    <label class="control-label screen-left" for="{$fieldName}">{$fieldLabel}</label>
    {if !empty($fieldPublicProfile)}<img src="{$appurl}mvc/view/img/screen.png" class="screen-right"/>{/if}
    {if !empty($fieldHelpText)}
    <p class="help-block">{$fieldHelpText}</p>
    {/if}
    <div class="controls">
        <textarea {$disabled} class="field" id="{$fieldName}" name="{$fieldName}" placeholder="{$fieldPlaceholder}" data-section="{$fieldSection}">{if !empty($fieldValue)}{$fieldValue}{/if}</textarea>
    </div>
</div>